<template> 
  <v-container class="text-center">  

    <v-card
    class="mx-auto"
    style="max-width: 900%;"
    
    >
    
    <v-toolbar
      color="deep-purple accent-4"
      cards
      dark
      flat      
    >      
      <v-card-title class="title font-weight-regular" v-for="event in events">Add Event Content | {{ event.event_title }}</v-card-title>
      <v-spacer></v-spacer>     
    </v-toolbar> 

    <v-form
      ref="form"
      v-model="form"
      class="pa-4 pt-6"
      v-for="event in events"      
    >

       <v-textarea
        v-model="event_content_excerpt"
        :rules="[rules.required]"
        auto-grow
        filled
        color="deep-purple"
        label="Event Content Details"
        rows="5"
      ></v-textarea>        

      </v-form>
    <v-divider></v-divider>
    <v-card-actions>
      <v-btn
        text
        @click="$refs.form.reset()"
      >
       Clear
      </v-btn>
      <v-spacer></v-spacer>               
    </v-card-actions> 
    </v-card> 

    <v-toolbar
      color="deep-purple accent-4"
      cards
      style="margin-top: 25px"
      
    >      
      <v-card-title class="title font-weight-regular" >Single | Section Media</v-card-title>
      <v-spacer></v-spacer>     
    </v-toolbar> 

        <v-toolbar flat color="grey darken-3">
        <v-toolbar-title>Section Media | Single Image </v-toolbar-title>               
        <v-spacer></v-spacer>
        
        <v-toolbar-items><v-switch
              v-model="single"                          
              label="Section Single Image"
              color="success"                                                   
              hide-details
              style="padding-top: 20px;"
              v-on:change="carousel = !single;"
            ></v-switch>                          
          </v-toolbar-items>                   
    </v-toolbar>
    
    <input type="file" id="file" ref="file" style="display:none;" v-on:change="handleFileUpload()" accept="image/*">
        <v-row v-if="single">            
          
            
            <v-col style="cursor: pointer; border-style: dashed; margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" class="d-flex align-center" @click="openFileInput()">
              
              <div style="width: 213px;">
                        <v-icon>mdi-plus</v-icon>
                        <v-list-item-title>Add Image</v-list-item-title>
              </div>
            </v-col>

            <v-col style="margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" v-show="showPreview">
            <v-row>
              <v-img  v-bind:src="logoPreview" v-show="showPreview" width="200"/></v-img>
            </v-row>
            <v-row>
              
              <v-text-field v-model="title" label="Title" v-show="showPreview"></v-text-field>

              
            </v-row>
            </v-col>

            <v-col style="margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" class="d-flex align-center" v-show="showPreview">
              
              <div style="width: 213px;" v-show="showPreview">
                        <v-btn color="blue darken-1" text @click="saveLogo()" v-show="showPreview">Save Section</v-btn>
              </div>
            </v-col>
            


        </v-row>
    

    
        <v-toolbar flat color="grey darken-3" style="margin-top: 20px;">
        <v-toolbar-title>Section Media | Carousel Images</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items><v-switch
              v-model="carousel"
              label="Section Carousel Images"
              color="success"              
              hide-details
              style="padding-top: 20px;"
              v-on:change="single = !carousel;"
            ></v-switch> </v-toolbar-items>       
    </v-toolbar>    
        
        <input type="file" id="files" ref="files" style="display:none;" multiple v-on:change="handleImageUpload()" accept="image/*">
        <v-row v-if="carousel">

            
            <v-col style="cursor: pointer; border-style: dashed; margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" class="d-flex align-center" @click="openImageInput()">
              
              <div style="width: 213px;">
                        <v-icon>mdi-plus</v-icon>
                        <v-list-item-title>Add Image</v-list-item-title>
              </div>
            </v-col>

            <v-col v-for="(file, key) in files" style="margin: 10px 30px 10px 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" v-show="showImagePreview">
            <v-row>
              <v-img  v-bind:ref="'image'+parseInt( key )" v-show="showImagePreview" height="150"/></v-img>
            </v-row>
            <v-row>
              
              <v-text-field v-model="image_title[parseInt( key )]" label="Title" v-show="showImagePreview"></v-text-field>

              
            </v-row>
            </v-col>

            <v-col style="margin: 10px; padding: 0px; max-width: 100px; width: 100px; max-height: 213px; height: 213px" cols="1" class="d-flex align-center" v-show="showImagePreview">
              
              <div style="width: 213px;" v-show="showImagePreview">
                        <v-btn color="blue darken-1" text @click="saveImages()" v-show="showImagePreview">Save Images</v-btn>
              </div>
            </v-col>
            


        </v-row>

        <v-toolbar flat color="grey darken-3" style="margin-top: 20px;">
        <v-toolbar-title>Section Media | Video </v-toolbar-title>                
        <v-spacer></v-spacer>
        <v-toolbar-items><v-switch
              v-model="video"
              label="Section Video"
              color="success"
              true-value="1"
              hide-details
              style="padding-top: 20px;"
              v-on:change="video_seen = !video_seen"
            ></v-switch> </v-toolbar-items>
        
        
        
    </v-toolbar>
    
        <v-row v-if="video_seen">     
            
            <v-form
              ref="form"
              v-model="form"
              class="pa-4 pt-6"      
            >              

            <v-col cols="12">

            <div class="text-center">
              <v-btn color="blue darken-1"  x-large @click="openFileManager">Choose Images</v-btn>        
            </div>

            </v-col>
            <v-col cols="12">


            <v-row v-if="videos.length !== 0">
              <v-toolbar flat color="deep-purple accent-4">
              <v-toolbar-title>New Media</v-toolbar-title>
            </v-toolbar>
              <v-col cols="12" md="3" v-for="(video, key) in videos">
              
              <v-col cols="12">             
              <v-img class="mt-3" :src="img.url"> </v-img>  
              </v-col>
              <v-col cols="12"> 
              <v-text-field
                v-model="video_title[parseInt( key )]"
                :rules="[rules.required]"        
                filled
                color="deep-purple"
                label="Media Title"
                style="min-height: 96px"        
              ></v-text-field>
              </v-col>

              </v-col> 
              <v-col cols="12" md="12">
                <div class="text-center">
                  <v-btn color="blue darken-1"  x-large @click="saveVideos()">Save Videos</v-btn>        
                </div> 
              </v-col>
            </v-row> 

            </v-col>       
            
            

            </v-form>       
            


        </v-row>
      
      
    </v-container>

    

  
</template>

<script>
  export default {
    props: {      
      user: Object,          
    },
    data: () => ({
      dialog: false,                     
      form: false,
      isLoading: false,         
      showPreview: false,
      showImagePreview: false,
      showMainPreview: false,
      mainImagePreview: '',
      deleteMethod: '',
      imagePreview: '',
      logoPreview: '',
      title: '',            
      events: [],
      users: [],     
      videos: [],
      video_seen: false,
      single: false,
      carousel: false,
      image_title: [],
      files: [],       
      event_content_excerpt: '',
      

      
      rules: {       
        required: v => !!v || 'This field is required',
      },      
      selectedFile: [],
      editedIndex: -1,          
      
      
    }),

    computed: {
                
            
    },

    

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()      
      
    },

         

    methods: {
      initialize () {        

        axios.get('/api/events/edit/'+this.$route.params.id).then(response => {
            this.events = response.data.data;
        });

      }, 

      openFileManager () {
        window.open(`/filemanager`, 'width=900,height=600')
        var self = this
        window.SetUrl = function (items) {
          
          self.videos = items;
          
        }
        return false
      },

      

      
      

      openFileInput () {
        this.$refs.file.click()
      },

      openImageInput () {
        this.$refs.files.click()
      },

      

      handleFileUpload(){
        this.file = this.$refs.file.files[0];
        let reader  = new FileReader();

        /*
          Add an event listener to the reader that when the file
          has been loaded, we flag the show preview as true and set the
          image to be what was read from the reader.
        */
        reader.addEventListener("load", function () {
          this.showPreview = true;
          this.logoPreview = reader.result;
        }.bind(this), false);

        /*
          Check to see if the file is not empty.
        */
        if( this.file ){
          /*
            Ensure the file is an image file.
          */
          if ( /\.(jpe?g|png|gif)$/i.test( this.file.name ) ) {
            /*
              Fire the readAsDataURL method which will read the file in and
              upon completion fire a 'load' event which we will listen to and
              display the image in the preview.
            */
            reader.readAsDataURL( this.file );
          }
        }
  
      },

      handleImageUpload(){
        /*
          Get the uploaded files from the input.
        */
        let uploadedFiles = this.$refs.files.files;

        /*
          Adds the uploaded file to the files array
        */
        for( var i = 0; i < uploadedFiles.length; i++ ){
          this.files.push( uploadedFiles[i] );
        }

        /*
          Generate image previews for the uploaded files
        */
        this.getImagePreviews();
  
      },

      getImagePreviews(){
        /*
          Iterate over all of the files and generate an image preview for each one.
        */
        for( let i = 0; i < this.files.length; i++ ){
          /*
            Ensure the file is an image file
          */
          if ( /\.(jpe?g|png|gif)$/i.test( this.files[i].name ) ) {
            /*
              Create a new FileReader object
            */
            let reader = new FileReader();

            /*
              Add an event listener for when the file has been loaded
              to update the src on the file preview.
            */
            reader.addEventListener("load", function(){
              this.showImagePreview = true;              
              this.$refs['image'+parseInt( i )][0].src = reader.result;
            }.bind(this), false);

            /*
              Read the data for the file in through the reader. When it has
              been loaded, we listen to the event propagated and set the image
              src to what was loaded from the reader.
            */
            reader.readAsDataURL( this.files[i] );
          }
        }
      },

      

      deleteLogo(item) {
        const index = this.events[0].images_single.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.events[0].images_single.splice(index, 1)
        axios.post('/api/events/DeleteSingleImage/'+item.id, {EventId:this.events[0].id})
      },

      deleteImage(item) {
        const index = this.events[0].images_carousel.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.events[0].images_carousel.splice(index, 1)
        axios.post('/api/events/DeleteCarouselImage/'+item.id, {EventId:this.events[0].id})
      },

      saveLogo() {        
       let formData = new FormData();        
        formData.append('photo', this.file);
        formData.append('title', this.title);        
        formData.append('excerpt', this.event_content_excerpt);
        formData.append('event_id', this.events[0].id);       

        let settings = { headers: { 'content-type': 'multipart/form-data' } };

        axios.post('/api/WhatsOnContent/AddEventContentSingleImage', formData, settings)    
        setTimeout(() => this.initialize(), 3000); 
        $refs.form.reset();   
      },

      saveImages() {        
       let formData = new FormData(); 

        for( var i = 0; i < this.files.length; i++ ){
          let file = this.files[i];
          let title = this.image_title[i];

          formData.append('photo[' + i + ']', file);
          formData.append('title[' + i + ']', title);
        }
        formData.append('excerpt', this.event_content_excerpt);
        formData.append('event_id', this.events[0].id);        
        
        let settings = { headers: { 'content-type': 'multipart/form-data' } };

        axios.post('/api/WhatsOnContent/AddEventContentCarouselImages', formData, settings)
        this.showImagePreview = false;    
        setTimeout(() => this.initialize(), 3000); 
        $refs.form.reset();   
      },  

      save() {          
          axios.post('/api/events/'+this.events[0].id,{
            event_title:this.events[0].event_title,  
            event_excerpt:this.events[0].event_excerpt,
            event_slug:this.events[0].event_slug,
            event_day:this.events[0].event_day,
            event_date:this.event_date,  
            start_time:this.events[0].start_time,
            end_time:this.events[0].end_time,                       
            created_by:this.user.id,
            _method: 'patch'
         })

          setTimeout(() => this.initialize(), 500); 
          $refs.form.reset();       
      },

       
    },


  }
</script>
