<template> 

  <v-container style="margin-top: 60px; margin-bottom: 60px;">
    
    <v-row style="justify-content: center;" class="text-center subscribe-head">      
     <v-col cols="6" md="3">

      <h1>Book A Table</h1>      
      </v-col>
      
    
    <v-col cols="12">
      Mahiki Mayfair is the perfect location for that special birthday or celebration, or just a big night out. If you are interested in having your own space just fill out the details below and we will be in touch.
    </v-col>
    </v-row>
    <v-row align="start" style="margin-left: 0px !important; margin-right: 0px !important;" >
    <v-form
      ref="form"
      v-model="form"
      style="width: 100%"
            
    >
      <v-col cols="12">

        <v-text-field
            v-model="name"
            label="NAME"
            outlined
            tile                    
            required             
          ></v-text-field>

          <v-text-field
            v-model="last_name"
            label="Last Name"            
            style="display: none;"
          ></v-text-field>
          
      </v-col>

      <v-col cols="12">        
          <v-text-field
            v-model="email"
            label="EMAIL ADDRESS"
            outlined
            tile
            :rules="emailRules"        
            required                        
          ></v-text-field>          
      </v-col>

      <v-col cols="12">
        <v-text-field
            v-model="phone"
            label="PHONE NUMBER"
            outlined
            tile                    
            required             
          ></v-text-field>          
      </v-col>

      <v-col cols="12">
        <v-select
          v-model="event_type"
          :items="events"
          label="EVENT TYPE"
          outlined
          tile                    
          required 
        ></v-select>          
      </v-col>

            

      <v-col cols="12">
        <!--<template v-slot:activator="{ on }"> -->
            <v-radio-group v-model="event_day">
              <v-radio
                v-for="day in days" 
                name="event_day"           
                :label="day.day_name"
                :value="day.day_name"
                
              ></v-radio>
            </v-radio-group>
          <!-- </template> -->
        <v-dialog
          v-model="dialog"
          width="500"
        >
         

          <v-card>
            <v-card-title            
              style="background-color: #111111 !important; color: #f47c30 !important;"
            >
              Booking - Rules
            </v-card-title>

            <v-card-text
            style="margin-top: 20px;"
            >
              Be sure to check out our <v-btn text to="/Rules">
            Rules
          </v-btn>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                tile 
                color="#111111"
                style="width: 100%; color:#f47c30;"
                @click="dialog = false"
              >
                I accept
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>

      <v-col cols="12">
        <v-menu
        v-model="fromDateMenu"
        :close-on-content-click="false"
        :nudge-right="40"      
        transition="scale-transition"
        offset-y      
        max-width="290px"
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="computedDateFormatted"
            label="Event Date"            
            outlined
            tile 
            readonly          
            :value="fromDateDisp"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker        
          locale="en-gb"        
          v-model="event_date"
          no-title
          @input="fromDateMenu = false"
        ></v-date-picker>
    </v-menu>         
      </v-col>

      <v-col cols="12">
        <v-menu
        ref="start_menu"
        v-model="start_time_menu"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="start_time"
        transition="scale-transition"
        offset-y
        max-width="290px"
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="start_time"
            label="Start Time"
            prepend-icon="access_time"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-time-picker
          v-if="start_time_menu"
          v-model="start_time"
          full-width
          color="#111111"
          header-color="#f47c30"
          @click:minute="$refs.start_menu.save(start_time)"
        ></v-time-picker>
      </v-menu>          
      </v-col>

      <v-col cols="12">

        <v-text-field
            v-model="no_guests"
            label="NUMBER OF GUESTS"
            outlined
            tile                    
            required             
          ></v-text-field>
          
      </v-col>

      <v-col cols="12">

        <v-textarea
            v-model="additional"
            label="ADDITIONAL INFORMATION"
            outlined
            tile                    
            required             
          ></v-textarea>
          
      </v-col>

      <v-col cols="12">

        <v-checkbox v-model="subscribe">
      <template v-slot:label>
        <div>
          I don't want to miss out on great Mahiki news, Please add me to the mailing list.
        </div>
      </template>
    </v-checkbox>
          
      </v-col>


      
      <v-col cols="12">
          <div class="text-center">
            <v-btn class="ma-2" elevation="0" tile color="#111111" style="width: 100%; color:#f47c30; " x-large @click="bookingSubmit()">Submit</v-btn>        
          </div>
        </v-col>
      </v-form>
    </v-row>
  </v-container>

  
</template>

<script>
  export default {
    data: () => ({ 
      dialog: false,          
      pages: [],  
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ], 
      events: [
      'Dinner', 
      'Late Night', 
      'Cocktails'
      ], 

      timings: [
      'Early Evening - 18:00-22:00', 
      'Late Evening - 22:00-2:00',       
      ], 
      days: [
          {
            day_name: 'MONDAY',
            rules_link: '/rules/monday'
          },
          {            
            day_name: 'TUESDAY',
            rules_link: '/rules/tuesday'
          },
          {
            day_name: 'WEDNESDAY',
            rules_link: '/rules/wednesday'
          },   
          {            
            day_name: 'THURSDAY',
            rules_link: '/rules/thursday'
          },   
          {
            day_name: 'FRIDAY',
            rules_link: '/rules/friday'
          },  
          {
            day_name: 'SATURDAY',
            rules_link: '/rules/saturday'
          },           
        ],    
      start_time: null,
      start_time_menu: false,
      start_time_modal2: false,      
      fromDateMenu: false,      
      event_date: new Date().toISOString().substr(0, 10),  
      name: '',
      email: '',
      phone: '',
      last_name: '',    
      event_type: '',
      no_guests: '',
      additional: '',
      subscribe: false,
      event_day: 'MONDAY',

    }),

    computed: {
      fromDateDisp() {
        return this.event_date;
      },

      computedDateFormatted () {
        return this.formatDate(this.event_date)
      },

      
      
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {         

      },

      formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${day} / ${month} / ${year}`
      },  

      bookingSubmit () {        
        let formData = new FormData();
        formData.append('last_name', this.last_name);
        formData.append('name', this.name); 
        formData.append('email', this.email); 
        formData.append('phone', this.phone);
        formData.append('event_type', this.event_type); 
        formData.append('event_day', this.event_day);
        formData.append('event_date', this.event_date); 
        formData.append('start_time', this.start_time); 
        formData.append('no_guests', this.no_guests); 
        formData.append('additional', this.additional);         
        axios.post('/api/booking-email', formData)          
        //this.dialog_title = 'Email submitted to mailing list.';
        //this.dialog_text = 'Thank you for subscribing to our mailing list and keeping up to date with all the latest offers and news.';
        //this.dialog = true    

        if(this.subscribe == true) {
          let subFormData = new FormData();
          subFormData.append('last_name', this.last_name);
          subFormData.append('name', this.name); 
          subFormData.append('email', this.email);        
          axios.post('/api/mailchimp', subFormData)
        }
        this.$refs.form.reset();
      },        

       
    },
  }
</script>
<style>

fieldset {
  border-radius: 0 !important;
}

</style>
