<template> 
  <v-container class="text-center">  

    <v-card
    class="mx-auto"
    style="max-width: 900%;"
    
    >
    
    <v-toolbar
      color="deep-purple accent-4"
      cards
      dark
      flat      
    >      
      <v-card-title class="title font-weight-regular">Edit Contact Info</v-card-title>
      <v-spacer></v-spacer>     
    </v-toolbar> 

    <v-form
      ref="form"
      v-model="form"
      class="pa-4 pt-6"      
    >

    <v-text-field
        v-model="contact_title"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Contact Page Title"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-textarea
        v-model="contact_excerpt"
        auto-grow
        filled
        color="deep-purple"
        label="Contact Page Details"
        rows="5"
      ></v-textarea>

      <v-text-field
        v-model="address_title"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Address Header"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-text-field
        v-model="street_address"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Street Address"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-text-field
        v-model="address_2"               
        filled
        color="deep-purple"
        label="Address 2"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-text-field
        v-model="town"                
        filled
        color="deep-purple"
        label="Town"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-text-field
        v-model="city"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="City"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-text-field
        v-model="county"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="County"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-text-field
        v-model="postcode"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Postcode"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-text-field
        v-model="longitude"                
        filled
        color="deep-purple"
        label="Longitude"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-text-field
        v-model="latitude"               
        filled
        color="deep-purple"
        label="Latitude"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-text-field
        v-model="phone_title"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Phone Header"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-text-field
        v-model="phone_no"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Phone Number"
        style="min-height: 96px"        
      ></v-text-field> 
    
      <v-text-field
        v-model="email_title"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Email Header"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-text-field
        v-model="email_address"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Email Address"
        style="min-height: 96px"        
      ></v-text-field>            

      </v-form>
    <v-divider></v-divider>
    <v-card-actions>
      <v-btn
        text
        @click="$refs.form.reset()"
      >
        Clear
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn text color="blue darken-1" text @click="update()" v-if="contacts">Update Contact Info</v-btn>                
    </v-card-actions> 
    </v-card> 

    <v-toolbar
      color="deep-purple accent-4"
      cards
      style="margin-top: 25px"      
    >      
      <v-card-title class="title font-weight-regular" >Contact Page | Section Media</v-card-title>
      <v-spacer></v-spacer>     
    </v-toolbar> 

        <v-toolbar flat color="grey darken-3">
        <v-toolbar-title>Section Media | Single Image </v-toolbar-title>               
        <v-spacer></v-spacer>
        
        <v-toolbar-items><v-switch
              v-model="single"                          
              label="Section Single Image"
              color="success"                                                   
              hide-details
              style="padding-top: 20px;"
              v-on:change="carousel = !single;"
            ></v-switch>                          
          </v-toolbar-items>                   
    </v-toolbar>
    
    <input type="file" id="file" ref="file" style="display:none;" v-on:change="handleFileUpload()" accept="image/*">
        <v-row v-if="single">            
          
            
            <v-col style="cursor: pointer; border-style: dashed; margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" class="d-flex align-center" @click="openFileInput()">
              
              <div style="width: 213px;">
                        <v-icon>mdi-plus</v-icon>
                        <v-list-item-title>Add Image</v-list-item-title>
              </div>
            </v-col>

            <v-col style="margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" v-show="showPreview">
            <v-row>
              <v-img  v-bind:src="logoPreview" v-show="showPreview" width="200"/></v-img>
            </v-row>
            <v-row>
              
              <v-text-field v-model="title" label="Title" v-show="showPreview"></v-text-field>

              
            </v-row>
            </v-col>

            <v-col style="margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" class="d-flex align-center" v-show="showPreview">
              
              <div style="width: 213px;" v-show="showPreview">
                        <v-btn color="blue darken-1" text @click="saveLogo()" v-show="showPreview">Save Section</v-btn>
              </div>
            </v-col>
            


        </v-row>
    

    
        <v-toolbar flat color="grey darken-3" style="margin-top: 20px;">
        <v-toolbar-title>Section Media | Carousel Images</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items><v-switch
              v-model="carousel"
              label="Section Carousel Images"
              color="success"              
              hide-details
              style="padding-top: 20px;"
              v-on:change="single = !carousel;"
            ></v-switch> </v-toolbar-items>       
    </v-toolbar>    
        
        <input type="file" id="files" ref="files" style="display:none;" multiple v-on:change="handleImageUpload()" accept="image/*">
        <v-row v-if="carousel">

            
            <v-col style="cursor: pointer; border-style: dashed; margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" class="d-flex align-center" @click="openImageInput()">
              
              <div style="width: 213px;">
                        <v-icon>mdi-plus</v-icon>
                        <v-list-item-title>Add Image</v-list-item-title>
              </div>
            </v-col>

            <v-col v-for="(file, key) in files" style="margin: 10px 30px 10px 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" v-show="showImagePreview">
            <v-row>
              <v-img  v-bind:ref="'image'+parseInt( key )" v-show="showImagePreview" height="150"/></v-img>
            </v-row>
            <v-row>
              
              <v-text-field v-model="image_title[parseInt( key )]" label="Title" v-show="showImagePreview"></v-text-field>

              
            </v-row>
            </v-col>

            <v-col style="margin: 10px; padding: 0px; max-width: 100px; width: 100px; max-height: 213px; height: 213px" cols="1" class="d-flex align-center" v-show="showImagePreview">
              
              <div style="width: 213px;" v-show="showImagePreview">
                        <v-btn color="blue darken-1" text @click="saveImages()" v-show="showImagePreview">Save Images</v-btn>
              </div>
            </v-col>
            


        </v-row>

        <v-toolbar flat color="grey darken-3" style="margin-top: 20px;">
        <v-toolbar-title>Section Media | Video </v-toolbar-title>                
        <v-spacer></v-spacer>
        <v-toolbar-items><v-switch
              v-model="video"
              label="Section Video"
              color="success"
              true-value="1"
              hide-details
              style="padding-top: 20px;"
              v-on:change="video_seen = !video_seen"
            ></v-switch> </v-toolbar-items>
        
        
        
    </v-toolbar>
    
        <v-row v-if="video_seen">        
            
            <v-col v-if="!suppliers[0].length" cols="3" v-for="supplier in suppliers" height="213" width="213">
              <div v-for="item in supplier.logo">

            <v-card  height="213" width="213"> 
                <v-col>           
                  <v-img :src="'/'+item.photo" width="200"></v-img>            
                  <v-list-item-title>{{ item.title }}</v-list-item-title>
                  
                </v-col>
            </v-card>
            <v-container style="width: 213px; margin-left: 0px; padding: 12px 0px 12px 0px;">
                    
                      <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                      >
                        edit
                      </v-icon>
                      <v-divider
                      class="mx-4"
                      vertical
                    ></v-divider>
                      <v-icon
                        small
                        @click="deleteLogo(item)"
                      >
                        delete
                      </v-icon>
                  
                </v-container>    
                </div>        
            </v-col>
          
            <input type="file" id="file" ref="file" style="display:none;" v-on:change="handleFileUpload()" accept="image/*">
            <v-col style="cursor: pointer; border-style: dashed; margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" class="d-flex align-center" @click="openFileInput()">
              
              <div style="width: 213px;">
                        <v-icon>mdi-plus</v-icon>
                        <v-list-item-title>Add Image</v-list-item-title>
              </div>
            </v-col>

            <v-col style="margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" v-show="showPreview">
            <v-row>
              <v-img  v-bind:src="logoPreview" v-show="showPreview" width="200"/></v-img>
            </v-row>
            <v-row>
              
              <v-text-field v-model="title" label="Title" v-show="showPreview"></v-text-field>

              
            </v-row>
            </v-col>

            <v-col style="margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" class="d-flex align-center" v-show="showPreview">
              
              <div style="width: 213px;" v-show="showPreview">
                        <v-btn color="blue darken-1" text @click="saveLogo()" v-show="showPreview">Save Video</v-btn>
              </div>
            </v-col>
            


        </v-row>
      
      
    </v-container>

    

  
</template>

<script>
  export default {
    props: {      
      user: Object,          
    },
    data: () => ({
                         
      form: false,
      isLoading: false,         
      showPreview: false,
      showImagePreview: false,
      showMainPreview: false,
      mainImagePreview: '',
      deleteMethod: '',
      imagePreview: '',
      logoPreview: '',
      title: '',     
      users: [],     
      video: false,
      video_seen: false,
      single: false,
      carousel: false,
      image_title: [],
      files: [],        
      rules: {       
        required: v => !!v || 'This field is required',
      },      
      selectedFile: [],
      contacts: [],   
      contact_title: '',
      contact_excerpt: '',        
      address_title: '',
      street_address: '',
      address_2: '',
      town: '',  
      city: '',
      county: '',                
      postcode: '',
      longitude: '',
      latitude: '',
      phone_title: '',
      phone_no: '',
      email_title: '',
      email_address: '', 
      
    }),

    computed: {
                  
    },

    watch: {
      dialog (val) {
        val || this.close()
      },      
    },

    created () {
      this.initialize();

         
      
    },

         

    methods: {
      initialize () {    

      var myVar = this;   

        axios.get('/api/contacts').then(response => {
            myVar.contacts = response.data.data;
            myVar.contact_title = response.data.data[0].contact_title;
            myVar.contact_excerpt = response.data.data[0].contact_excerpt;
            myVar.address_title = response.data.data[0].address_title;
            myVar.street_address = response.data.data[0].street_address;
            myVar.address_2 = response.data.data[0].address_2;
            myVar.town = response.data.data[0].town;
            myVar.city = response.data.data[0].city;
            myVar.county = response.data.data[0].county;
            myVar.postcode = response.data.data[0].postcode;
            myVar.longitude = response.data.data[0].longitude;
            myVar.latitude = response.data.data[0].latitude;
            myVar.phone_title = response.data.data[0].phone_title;
            myVar.phone_no = response.data.data[0].phone_no;
            myVar.email_title = response.data.data[0].email_title;
            myVar.email_address = response.data.data[0].email;
        });



      },       

      openFileInput () {
        this.$refs.file.click()
      },

      openImageInput () {
        this.$refs.files.click()
      },

      

      handleFileUpload(){
        this.file = this.$refs.file.files[0];
        let reader  = new FileReader();

        /*
          Add an event listener to the reader that when the file
          has been loaded, we flag the show preview as true and set the
          image to be what was read from the reader.
        */
        reader.addEventListener("load", function () {
          this.showPreview = true;
          this.logoPreview = reader.result;
        }.bind(this), false);

        /*
          Check to see if the file is not empty.
        */
        if( this.file ){
          /*
            Ensure the file is an image file.
          */
          if ( /\.(jpe?g|png|gif)$/i.test( this.file.name ) ) {
            /*
              Fire the readAsDataURL method which will read the file in and
              upon completion fire a 'load' event which we will listen to and
              display the image in the preview.
            */
            reader.readAsDataURL( this.file );
          }
        }
  
      },

      handleImageUpload(){
        /*
          Get the uploaded files from the input.
        */
        let uploadedFiles = this.$refs.files.files;

        /*
          Adds the uploaded file to the files array
        */
        for( var i = 0; i < uploadedFiles.length; i++ ){
          this.files.push( uploadedFiles[i] );
        }

        /*
          Generate image previews for the uploaded files
        */
        this.getImagePreviews();
  
      },

      getImagePreviews(){
        /*
          Iterate over all of the files and generate an image preview for each one.
        */
        for( let i = 0; i < this.files.length; i++ ){
          /*
            Ensure the file is an image file
          */
          if ( /\.(jpe?g|png|gif)$/i.test( this.files[i].name ) ) {
            /*
              Create a new FileReader object
            */
            let reader = new FileReader();

            /*
              Add an event listener for when the file has been loaded
              to update the src on the file preview.
            */
            reader.addEventListener("load", function(){
              this.showImagePreview = true;              
              this.$refs['image'+parseInt( i )][0].src = reader.result;
            }.bind(this), false);

            /*
              Read the data for the file in through the reader. When it has
              been loaded, we listen to the event propagated and set the image
              src to what was loaded from the reader.
            */
            reader.readAsDataURL( this.files[i] );
          }
        }
      },

      saveLogo() {        
        let formData = new FormData();        
        formData.append('photo', this.file);
        formData.append('title', this.title);
        formData.append('contact_title', this.contact_title);
        formData.append('contact_excerpt', this.contact_excerpt);
        formData.append('address_title', this.address_title);
        formData.append('street_address', this.street_address);
        formData.append('address_2', this.address_2);
        formData.append('town', this.town);  
        formData.append('city', this.city);
        formData.append('county', this.county);                
        formData.append('postcode', this.postcode);
        formData.append('longitude', this.longitude);
        formData.append('latitude', this.latitude);
        formData.append('phone_title', this.phone_title);
        formData.append('phone_no', this.phone_no);
        formData.append('email_title', this.email_title);
        formData.append('email_address', this.email_address);

        let settings = { headers: { 'content-type': 'multipart/form-data' } };

        axios.post('/api/contacts-AddSingle', formData, settings)    
        setTimeout(() => this.initialize(), 3000); 
        $refs.form.reset();  
      },

      saveImages() {        
        let formData = new FormData(); 

        for( var i = 0; i < this.files.length; i++ ){
          let file = this.files[i];
          let title = this.image_title[i];

          formData.append('photo[' + i + ']', file);
          formData.append('title[' + i + ']', title);
        }
        formData.append('contact_title', this.contact_title);
        formData.append('contact_excerpt', this.contact_excerpt);
        formData.append('address_title', this.address_title);
        formData.append('street_address', this.street_address);
        formData.append('address_2', this.address_2);
        formData.append('town', this.town);  
        formData.append('city', this.city);
        formData.append('county', this.county);                
        formData.append('postcode', this.postcode);
        formData.append('longitude', this.longitude);
        formData.append('latitude', this.latitude);
        formData.append('phone_title', this.phone_title);
        formData.append('phone_no', this.phone_no);
        formData.append('email_title', this.email_title);
        formData.append('email_address', this.email_address);
        
        let settings = { headers: { 'content-type': 'multipart/form-data' } };

        axios.post('/api/contacts-AddCarousel', formData, settings)
        this.showImagePreview = false;    
        setTimeout(() => this.initialize(), 3000); 
        $refs.form.reset();  
      }, 

      update() {        
        let formData = new FormData();       
        formData.append('contact_title', this.contact_title);
        formData.append('contact_excerpt', this.contact_excerpt);
        formData.append('address_title', this.address_title);
        formData.append('street_address', this.street_address);
        formData.append('address_2', this.address_2);
        formData.append('town', this.town);  
        formData.append('city', this.city);
        formData.append('county', this.county);                
        formData.append('postcode', this.postcode);
        formData.append('longitude', this.longitude);
        formData.append('latitude', this.latitude);
        formData.append('phone_title', this.phone_title);
        formData.append('phone_no', this.phone_no);
        formData.append('email_title', this.email_title);
        formData.append('email_address', this.email_address);       

        axios.post('/api/contacts-edit/'+this.contacts[0].id, formData)    
        setTimeout(() => this.initialize(), 3000); 
        $refs.form.reset();  
      },

    },


  }
</script>
