<template> 

  <v-container fluid class="text-center" style="margin: 0px; max-width: 100vw; padding: 0px;">

<div v-for="contact in contacts">
    <v-container style="margin: 0px; max-width: 100vw; padding: 0px;">
        <v-row>

          <v-carousel
          :show-arrows="contact.carousel"        
          height="75vh"
          hide-delimiters 
          style="margin-left: 0px; margin-right: 0px; width: 100vw; padding-left: 0px; padding-right: 0px;">
          <div class="darkening-overlay">
          </div>
          <div class="whatson-overlay">
            <h1>{{ contact.contact_title }}</h1>
          </div>
            <div v-if=" contact.single == true">
            <v-carousel-item
              v-for="(item,i) in contact.images_single"              
              :key="i"
              :src="'/'+item.photo"
            >
            </v-carousel-item>
          </div>
          <div v-if=" contact.carousel == true">
            <v-carousel-item
              v-for="(item,i) in contact.images_carousel"
              
              :key="i"
              :src="'/'+item.photo"
            >
            </v-carousel-item>
          </div>
          </v-carousel>

        </v-row>
    </v-container>
    


    <v-container>
      <v-row>

        <v-col cols="12" md="12">
        <v-card 
        class="d-inline-block mx-auto"
        outlined 
        tile
        width="100%"
        style="background-color: transparent; border: none;"
        >
          <v-container>
            <v-row justify="space-between">
              <v-col
                cols="6"
                class="text-center pl-0"
              >
                <v-row
                  class="flex-column ma-0 fill-height"
                  justify="center"
                >
                  <v-card-title><h1>{{ contact.contact_title }}</h1></v-card-title>               

                <v-card-text class="text--primary" style="text-align: left;">                  
                  <v-row no-gutters>
                  <v-col cols="12" style="margin-top: 20px;">
                  <v-row no-gutters>
                  <h3>{{ contact.address_title }}</h3>
                  </v-row>
                  <v-row no-gutters>
                    {{ contact.street_address }}<br>
                    <span v-if="contact.address_2 !== 'null' && contact.address_2 !== null">{{ contact.address_2 }}<br></span>
                    {{ contact.town }}<br>
                    {{ contact.city }}<br>
                    {{ contact.county }}<br>
                    {{ contact.postcode }}                    
                  </v-row>
                </v-col>

                <v-col cols="12" style="margin-top: 20px;">
                  <v-row no-gutters>
                  <h3>{{ contact.phone_title }}</h3>
                  </v-row>
                  <v-row no-gutters>
                  {{ contact.phone_no }}                    
                  </v-row>
                </v-col>

                <v-col cols="12" style="margin-top: 20px;">
                  <v-row no-gutters>
                  <h3>{{ contact.email_title }}</h3>
                  </v-row>
                  <v-row no-gutters>
                  {{ contact.email }}                    
                  </v-row>
                </v-col>
              </v-row>
              <v-row no-gutters>
                    <v-col cols="12">
                    <v-btn          
                        v-for="(icon,i) in icons"
                        :key="i"        
                        icon                       
                        style="margin-right: 20px; margin-top: 20px; text-decoration: none;"
                        :href="icon.link"
                      >          
                        <v-icon size="34px" >{{ icon.icon }}</v-icon>
                      </v-btn>
                    </v-col>
                  </v-row>

                </v-card-text>
                

                <v-card-actions>
                    <v-form>
                      <v-row>
                        <v-col cols="12" class="text-left">
                          ENQUIRY EMAIL FORM
                        </v-col>
                        <v-col cols="12" style="padding: 0px 12px;">
                        <v-text-field
                          label="Name"
                          outlined
                          tile
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" style="padding: 0px 12px;">
                        <v-text-field
                          label="Email"
                          outlined
                          tile
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" style="padding: 0px 12px;">
                        <v-textarea
                        outlined
                        tile
                        name="Details"
                        label="Details"
                        
                      ></v-textarea>
                      </v-col>
                      <v-col cols="12" style="padding: 0px 12px;">
                        <v-checkbox
                         v-model="mailinglist"
                         label="Add me to your mailing list"
                         color="primary"
                         ></v-checkbox>
                      </v-col>
                      <v-col cols="12" style="padding: 0px 12px; text-align: left;">
                        <div class="light-button">
                        <v-btn
                          color="orange"
                          outlined
                          tile
                        >
                          SUBMIT
                        </v-btn>
                        </div>
                      </v-col>
                      </v-row>
                    </v-form>
                  

                  
                </v-card-actions>


                </v-row>
              </v-col>
              <v-col cols="6">
                
                <GmapMap
                  :center="{lat:51.5077555, lng:-0.1413888}"
                  :zoom="15"
                  map-type-id="terrain"
                  style="width: 550px; height: 550px; filter: saturate(0);"
                >
                  <GmapMarker
                    :key="index"
                    v-for="(m, index) in markers"
                    :position="m.position"
                    :clickable="true"
                    :draggable="true"
                    @click="center=m.position"
                    :icon="'/storage/Assets/mahiki-marker.png'"
                  />
                </GmapMap>
              
              </v-col>

              
            </v-row>
          </v-container>
        </v-card>
      </v-col>
      </v-row>

    </v-container>

    </div>
        
        
    </v-container>   

  
</template>

<script>
  export default {
    data: () => ({           
      contacts: [],
      icons: [
      {
        icon: 'fab fa-instagram',
        link: 'https://www.instagram.com/mahikilondon/'
      },
      {
        icon: 'fab fa-facebook',
        link: 'https://www.facebook.com/mahiki/'
      },
      {
        icon: 'fab fa-twitter',
        link: 'https://twitter.com/mahiki'
      },        
      ], 
      null: null,       
      markers: [
          {
            name: "Mahiki London",           
            position: {lat:51.5077555, lng:-0.1413888}
          },
      ],  
    }),

    computed: {

      
      
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {  
       

        axios.get('/api/contacts').then(response => {
            this.contacts = response.data.data;
            
            
        });



      },       
    },
  }
</script>
<style>

.display-3 {
  
  display: inline-block; 
  margin: 0 auto;
}

.v-window__next {
  right: 3vw;
}

.v-window__prev {
  left: 3vw;
}

.whatson-overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100px;
  top: 45%;
  left: 0;
  right: 0;
  bottom: 0;   
  z-index: 2;
  color: white;
}
</style>
