<template>
    <v-container class="text-center">
        <v-row>  

            <v-col cols="6" md="3">

            <v-card link to="/admin/users" class="d-flex align-center" height="213"> 
                <v-col>           
                  <v-icon>mdi-account</v-icon>            
                  <v-list-item-title>User Roles</v-list-item-title>
                </v-col>
            </v-card>
            
            </v-col>

            <v-col cols="6" md="3">

            <v-card link to="/admin/homepage-edit" class="d-flex align-center" height="213"> 
                <v-col>           
                  <v-icon>mdi-home</v-icon>            
                  <v-list-item-title>Homepage Edit</v-list-item-title>
                </v-col>
            </v-card>
            
            </v-col>          

            

            <v-col cols="6" md="3">

            <v-card link to="/admin/pages" class="d-flex align-center" height="213"> 
                <v-col>           
                  <v-icon>mdi-file-document-box-plus-outline</v-icon>            
                  <v-list-item-title>Pages</v-list-item-title>
                </v-col>
            </v-card>
            
            </v-col>

            

            <v-col cols="6" md="3">

            <v-card link to="/admin/events" class="d-flex align-center" height="213"> 
                <v-col>           
                  <v-icon>mdi-calendar-multiple</v-icon>            
                  <v-list-item-title>Events</v-list-item-title>
                </v-col>
            </v-card>
            
            </v-col>

            <v-col cols="6" md="3">

            <v-card link to="/admin/seasonalevents" class="d-flex align-center" height="213"> 
                <v-col>           
                  <v-icon>mdi-pine-tree</v-icon>            
                  <v-list-item-title>Seasonal Events</v-list-item-title>
                </v-col>
            </v-card>
            
            </v-col>

            <v-col cols="6" md="3">

            <v-card link to="/admin/medialibrary" class="d-flex align-center" height="213"> 
                <v-col>           
                  <v-icon>mdi-folder-multiple-image</v-icon>            
                  <v-list-item-title>Media Library</v-list-item-title>
                </v-col>
            </v-card>
            
            </v-col>

            <v-col cols="6" md="3">

            <v-card link to="/admin/contact-info" class="d-flex align-center" height="213"> 
                <v-col>           
                  <v-icon>mdi-contact-phone</v-icon>            
                  <v-list-item-title>Contact Info</v-list-item-title>
                </v-col>
            </v-card>
            
            </v-col>
            

            

        </v-row>          
        

        
    </v-container>
</template>

<script>
    export default {
        
        name: 'Dashboard',
    };
</script>
