<template> 
  <v-container class="text-center">  

    <v-card
    class="mx-auto"
    style="max-width: 900%;"
    
    >
    
    <v-toolbar
      color="deep-purple accent-4"
      cards
      dark
      flat
      v-for="page in pages"
    >      
      <v-card-title class="title font-weight-regular" v-for="section in sections">{{ page.page_name }} | Edit Section | {{ section.section_title }}</v-card-title>
      <v-spacer></v-spacer>     
    </v-toolbar> 

    <v-form
      ref="form"
      v-model="form"
      class="pa-4 pt-6"
      v-for="section in sections"      
    >

    <v-text-field
        v-model="section.section_title"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Section Title"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-textarea
        v-model="section.section_text"
        :rules="[rules.required]"
        auto-grow
        filled
        color="deep-purple"
        label="Section Text"
        rows="5"
      ></v-textarea>

      <v-text-field
        v-model="section.slug"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Section Slug"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-text-field
        v-model="section.section_order"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Section Order (1 - Appearing at the top of the page)"
        style="min-height: 96px"        
      ></v-text-field> 

      </v-form>
    <v-divider></v-divider>
    <v-card-actions>
      <v-btn
        text
        @click="$refs.form.reset()"
      >
        Clear
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn text color="blue darken-1" text @click="save()">Save Text Edits</v-btn>          
    </v-card-actions> 
    </v-card> 

    <v-toolbar
      color="deep-purple accent-4"
      cards
      style="margin-top: 25px"
      
    >      
      <v-card-title class="title font-weight-regular" >Add New | Page Section Media</v-card-title>
      <v-spacer></v-spacer>     
    </v-toolbar> 

        <v-form
              ref="form"
              v-model="form"
              class="pa-4 pt-6"      
            >

            <v-col cols="12">
              <v-select
                v-model="banner_type"
                :rules="[rules.required]"        
                filled
                color="deep-purple"
                label="Banner Type"
                :items="banners"
                style="min-height: 96px"        
              ></v-select>
            </v-col>   

            <v-col cols="12">

            <div class="text-center">
              <v-btn color="blue darken-1"  x-large @click="openFileManager">Choose Images</v-btn>        
            </div>

            </v-col>
            <v-col cols="12">


            <v-row v-if="medias.length !== 0">
              <v-col cols="12">
                  <v-toolbar flat color="deep-purple accent-4">
                    <v-toolbar-title>New Media</v-toolbar-title>
                  </v-toolbar>
              </v-col>
              <v-col cols="12" md="3" v-for="(media, key) in medias">
              
              <v-col cols="12">             
              <v-img class="mt-3" :src="media.url"> </v-img>  
              </v-col>
              <v-col cols="12"> 
              <v-text-field
                v-model="media_title[parseInt( key )]"
                :rules="[rules.required]"        
                filled
                color="deep-purple"
                label="Media Title"
                style="min-height: 96px"        
              ></v-text-field>
              </v-col>

              </v-col> 
              <v-col cols="12" md="12">
                <div class="text-center">
                  <v-btn color="blue darken-1"  x-large @click="saveImages()">Save Section Media</v-btn>        
                </div> 
              </v-col>
            </v-row> 

            <div v-if="sectionbanners.length !== 0">
              <v-toolbar flat color="deep-purple accent-4">
              <v-toolbar-title>Current Media</v-toolbar-title>
            </v-toolbar>
              <v-row v-for="event in sectionbanners">
              <v-col cols="12" md="3" v-for="(img, key) in event.banner_media">
              
              <v-col cols="12">       

              <v-img v-if="event.banner_type !== 'Video'" height="200px" contain class="mt-3" :src="img.media"> </v-img> 
              <v-card v-else class="d-flex align-center" height="200px" style="margin-bottom: 10px;"> 
                <v-col>           
                  <v-icon>mdi-video</v-icon>            
                  <v-list-item-title>Video</v-list-item-title>
                </v-col>
            </v-card> 
               
              <v-text-field                
                v-model="img.title"                             
                solo
                color="deep-purple"
                disabled
                style="min-height: 96px"        
              ></v-text-field>
              <div class="text-center">
                  <v-btn color="red darken-1"  @click="deleteImage(img)">Delete Media</v-btn>        
              </div>

              </v-col>

              </v-col> 
              
            </v-row>

            </div> 


            
            </v-col>       
            
            

            </v-form>   
      
      
    </v-container>
    

  
</template>

<script>
  export default {
    data: () => ({
      dialog: false,                     
      form: false,
      
      pages: [],   
      sections: [],  
      banners: [
      'Single Image',
      'Carousel Image',
      'Video',
      ],               
      medias: [],
      media_title: [],
      edited_media_title: [],
      sectionbanners: [],
      
      banner_type: '',
      section_title: '',
      section_text: '',
      section_slug: '',
      section_order: '',
      rules: {       
        required: v => !!v || 'This field is required',
      },      
      
      editedIndex: -1,
      
      
      
    }),

    computed: {

            
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()      
      
    },

         

    methods: {
      initialize () {
        
        axios.get('/api/pages/edit/'+this.$route.params.slug).then(response => {
            this.pages = response.data.data;
        }); 

        axios.get('/api/pageSections/edit/'+this.$route.params.slug+'/'+this.$route.params.id).then(response => {
            this.sections = response.data.data;
        });    

        axios.get('/api/PageSectionsBanner/GetThisBanner/'+this.$route.params.id).then(response => {
            this.sectionbanners = response.data.data;
            this.banner_type = response.data.data[0].banner_type;
        });  

      },    

      openFileManager () {
        window.open(`/filemanager`, 'width=900,height=600')
        var self = this
        window.SetUrl = function (items) {
          
          self.medias = items;
          
        }
        return false
      },
      
      saveImages() {   

        let formData = new FormData();              
        formData.append('section_id', this.sections[0].id)      
         

        for( var i = 0; i < this.medias.length; i++ ){
          let file = this.medias[i].url;
          let title = this.media_title[i];

          formData.append('media[' + i + ']', file);
          formData.append('title[' + i + ']', title);
        }
        
        formData.append('banner_type', this.banner_type);

        if (this.sectionbanners.length > -0) {
          formData.append('isEdited', 'yes');
        }
        else{
          formData.append('isEdited', 'no');
        }
                      
        
        axios.post('/api/PageSectionsBanner', formData)        
        
        setTimeout(() => this.initialize(), 3000); 

        this.medias = [];

      
         
      },

      deleteImage(img) {
        confirm('Are you sure you want to delete this item?')
        let formData = new FormData();       

        axios.post('/api/media/'+img.id,{type:'SectionBanner', _method: 'delete'}).then(response=>console.log(response.data));

        setTimeout(() => this.initialize(), 1000);
      },

      save () {           

          axios.post('/api/pageSections/'+this.sections[0].id,{section_title:this.sections[0].section_title, section_text:this.sections[0].section_text, section_slug:this.sections[0].slug, section_order:this.sections[0].section_order, page_id:this.sections[0].page_id,   _method: 'patch'
         })

          setTimeout(() => this.initialize(), 500); 
          $refs.form.reset();       
      },

       
    },


  }
</script>
