<template>  
  <v-container class="text-center">  

    <v-card
    class="mx-auto"
    style="max-width: 900%;"
    
    >
    
    <v-toolbar
      color="deep-purple accent-4"
      cards
      dark
      flat      
    >      
      <v-card-title class="title font-weight-regular" v-for="event in events">Edit Event | {{ event.event_title }}</v-card-title>
      <v-spacer></v-spacer>     
    </v-toolbar> 

    <v-form
      ref="form"
      v-model="form"
      class="pa-4 pt-6"
      v-for="event in events"      
    >

    <v-text-field
        v-model="event.event_title"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Event Title"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-textarea
        v-model="event.event_excerpt"
        :rules="[rules.required]"
        auto-grow
        filled
        color="deep-purple"
        label="Event Details"
        rows="5"
      ></v-textarea>

      <v-text-field
        v-model="event.event_slug"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Event Slug"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-text-field
        v-model="event.event_day"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Event Day"
        style="min-height: 96px"        
      ></v-text-field> 

      
    <v-menu
      v-model="fromDateMenu"
      :close-on-content-click="false"
      :nudge-right="40"      
      transition="scale-transition"
      offset-y      
      max-width="290px"
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          v-model="computedDateFormatted"          
          label="Event Date"
          prepend-icon="event"
          readonly          
          :value="fromDateDisp"          
          v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker        
        locale="en-gb"        
        v-model="event_date"        
        no-title
        @input="fromDateMenu = false"
      ></v-date-picker>
    </v-menu>

    <v-menu
        ref="start_menu"
        v-model="start_time_menu"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="start_time"
        transition="scale-transition"
        offset-y
        max-width="290px"
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="event.start_time"
            label="Start Time"
            prepend-icon="access_time"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-time-picker
          v-if="start_time_menu"
          v-model="start_time"
          full-width
          @click:minute="$refs.start_menu.save(start_time)"
        ></v-time-picker>
      </v-menu>

      <v-menu
        ref="end_menu"
        v-model="end_time_menu"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="end_time"
        transition="scale-transition"
        offset-y
        max-width="290px"
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="event.end_time"
            label="End Time"
            prepend-icon="access_time"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-time-picker
          v-if="end_time_menu"
          v-model="end_time"
          full-width
          @click:minute="$refs.end_menu.save(end_time)"
        ></v-time-picker>
      </v-menu>
      

          

      </v-form>
    <v-divider></v-divider>
    <v-card-actions>
      <v-btn
        text
        @click="$refs.form.reset()"
      >
        Clear
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn text color="blue darken-1" text @click="save()">Save Text Edits</v-btn>          
    </v-card-actions> 
    </v-card> 

    
    <v-toolbar
      color="deep-purple accent-4"
      cards
      style="margin-top: 25px"
      v-for="event in events"
    >      
      <v-card-title class="title font-weight-regular" >{{ event.event_title }} | Event Media</v-card-title>
      <v-spacer></v-spacer>     
    </v-toolbar> 

        <v-form
              ref="form"
              v-model="form"
              class="pa-4 pt-6"      
            >

            <v-col cols="12">
              <v-select
                v-model="banner_type"
                :rules="[rules.required]"        
                filled
                color="deep-purple"
                label="Banner Type"
                :items="banners"
                style="min-height: 96px"        
              ></v-select>
            </v-col>   

            <v-col cols="12">

            <div class="text-center">
              <v-btn color="blue darken-1"  x-large @click="openFileManager">Choose Images</v-btn>        
            </div>

            </v-col>
            <v-col cols="12">


            <v-row v-if="medias.length !== 0">
              <v-col cols="12">
                  <v-toolbar flat color="deep-purple accent-4">
                    <v-toolbar-title>New Media</v-toolbar-title>
                  </v-toolbar>
              </v-col>
              <v-col cols="12" md="3" v-for="(media, key) in medias">
              
              <v-col cols="12">             
              <v-img class="mt-3" :src="media.url"> </v-img>  
              </v-col>
              <v-col cols="12"> 
              <v-text-field
                v-model="media_title[parseInt( key )]"
                :rules="[rules.required]"        
                filled
                color="deep-purple"
                label="Media Title"
                style="min-height: 96px"        
              ></v-text-field>
              </v-col>

              </v-col> 
              <v-col cols="12" md="12">
                <div class="text-center">
                  <v-btn color="blue darken-1"  x-large @click="saveImages()">Save Images</v-btn>        
                </div> 
              </v-col>
            </v-row> 

            <div v-if="eventbanners.length !== 0">
              <v-toolbar flat color="deep-purple accent-4">
              <v-toolbar-title>Current Media</v-toolbar-title>
            </v-toolbar>
              <v-row v-for="event in eventbanners">
              <v-col cols="12" md="3" v-for="(img, key) in event.banner_media">
              
              <v-col cols="12">       

              <v-img v-if="event.banner_type !== 'Video'" height="200px" contain class="mt-3" :src="img.media"> </v-img> 
              <v-card v-else class="d-flex align-center" height="200px" style="margin-bottom: 10px;"> 
                <v-col>           
                  <v-icon>mdi-video</v-icon>            
                  <v-list-item-title>Video</v-list-item-title>
                </v-col>
            </v-card> 
               
              <v-text-field                
                v-model="img.title"                             
                solo
                color="deep-purple"
                disabled
                style="min-height: 96px"        
              ></v-text-field>
              <div class="text-center">
                  <v-btn color="red darken-1"  @click="deleteImage(img)">Delete Media</v-btn>        
              </div>

              </v-col>

              </v-col> 
              
            </v-row>

            </div> 


            
            </v-col>       
            
            

            </v-form>   
    
    
        
    

    
           
        
        
        
        

       
    
        
      
      
    </v-container>

    

  
</template>

<script>
  export default {
    props: {      
      user: Object,          
    },
    data: () => ({
      dialog: false,                     
      form: false,
      isLoading: false,         
      showPreview: false,
      showImagePreview: false,
      showMainPreview: false,
      mainImagePreview: '',
      deleteMethod: '',
      imagePreview: '',
      logoPreview: '',
      title: '', 
      mainTitle: '',     
      events: [],
      users: [],     
      video: false,
      video_seen: false,
      single: false,
      carousel: false,
      image_title: [],
      files: [],      
      event_title: '',
      event_excerpt: '',
      event_slug: '',
      event_day: '',
      start_time: '',
      end_time: '',
      promoter: '',
      

      
      rules: {       
        required: v => !!v || 'This field is required',
      },      
      selectedFile: [],
      editedIndex: -1,
      fromDateMenu: false,      
      
      start_time: null,
      start_time_menu: false,
      start_time_modal2: false,
      end_time: null,
      end_time_menu: false,
      end_time_modal2: false, 
      event_date: '', 

      banners: [
      'Single Image',
      'Carousel Image',
      'Video',
      ],               
      medias: [],
      media_title: [],
      edited_media_title: [],
      eventbanners: [],
      banner_type: '',       
      
    }),

    computed: {
      fromDateDisp() {
        return this.event_date;
      },

      computedDateFormatted () {
        return this.formatDate(this.event_date)
      },           
            
    },

    

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()      
      
    },

         

    methods: {
      initialize () {       

        axios.get('/api/users').then(response => {
            this.users = response.data.data;
        });

        axios.get('/api/events/edit/'+this.$route.params.id).then(response => {
            this.events = response.data.data;
        });

        axios.get('/api/EventsBanner/GetBanner/'+this.$route.params.id).then(response => {
            this.eventbanners = response.data.data;            
            this.banner_type = response.data.data[0].banner_type;
      }); 
      

      }, 

      formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${day} / ${month} / ${year}`
      },

      openFileManager () {
        window.open(`/filemanager`, 'width=900,height=600')
        var self = this
        window.SetUrl = function (items) {
          
          self.medias = items;
          
        }
        return false
      },      

      saveImages() {       

        let formData = new FormData(); 

        for( var i = 0; i < this.medias.length; i++ ){
          let file = this.medias[i].url;
          let title = this.media_title[i];

          formData.append('media[' + i + ']', file);
          formData.append('title[' + i + ']', title);
        }
        formData.append('events_id', this.events[0].id);
        formData.append('banner_type', this.banner_type);

        if (this.eventbanners.length > -0) {
          formData.append('isEdited', 'yes');
        }
        else{
          formData.append('isEdited', 'no');
        }
                      
        
        axios.post('/api/EventsBanner', formData)        
        
        setTimeout(() => this.initialize(), 3000); 

        this.medias = [];

      
         
      },

      deleteImage(img) {
        confirm('Are you sure you want to delete this item?')
        let formData = new FormData();       

        axios.post('/api/media/'+img.id,{type:'EventBanner', _method: 'delete'}).then(response=>console.log(response.data));

        setTimeout(() => this.initialize(), 1000);
      }, 

      save() {          
          axios.post('/api/events/'+this.events[0].id,{
            event_title:this.events[0].event_title,  
            event_excerpt:this.events[0].event_excerpt,
            event_slug:this.events[0].event_slug,
            event_day:this.events[0].event_day,
            event_date:this.event_date,  
            start_time:this.events[0].start_time,
            end_time:this.events[0].end_time,                       
            created_by:this.user.id,
            _method: 'patch'
         })

          setTimeout(() => this.initialize(), 500); 
          $refs.form.reset();       
      },

       
    },


  }
</script>
