<template> 

  <v-container fluid class="text-center" style="margin: 0px; max-width: 100vw; padding: 0px;">


    <v-container style="height: 75vh; margin: 0px; max-width: 100vw; padding: 0px;" v-for="event in events" >
      <div v-for="(banner, index) in event.events_banner">

        <v-row v-if="banner.banner_type == 'Single Image' && banner.banner_type !== 'Video'">
          <div v-for="(banner, index) in banner.banner_media">
          <v-img          
          
          height="75vh"
          :src="banner.media"
          style="margin-left: 0px; margin-right: 0px; width: 100vw; padding-left: 0px; padding-right: 0px;"
          >
          <div class="darkening-overlay">
          </div>
          <div class="whatson-overlay">
            <h1>{{ event.event_title }}</h1>
          </div>
          </v-img>
          </div>
        </v-row>
      
        

        <v-row v-if="banner.banner_type == 'Carousel Image' && banner.banner_type !== 'Video'">

          <v-carousel          
          :show-arrows="true" 
          cycle 
          height="75vh"
          hide-delimiters 
          style="margin-left: 0px; margin-right: 0px; width: 100vw; padding-left: 0px; padding-right: 0px;"
          >
          <div class="darkening-overlay">
          </div>
          <div class="whatson-overlay">
            <h1>{{ event.event_title }}</h1>
          </div>
          <div v-for="(banner, index) in event.events_banner">
            <v-carousel-item
              v-for="(item,i) in banner.banner_media"              
              :key="i"
              :src="item.media"
            >
            </v-carousel-item>
          </div>
          
          
          </v-carousel>
        </v-row>
      

        
      
        <v-row v-if="banner.banner_type == 'Video'">
          
          <v-container style="margin: 0px; padding: 0px; max-width: 100vw; height: 75vh; overflow: hidden;">
            <div class="darkening-overlay" style="height: 75vh;">
          
          <div class="whatson-overlay">
            <h1>{{ event.event_title }}</h1>
          </div> 
          </div>
          
          
          <VueVideo v-for="(item,i) in banner.banner_media" v-if="i == 1" :src="item.media" autoplay="false" controls="false" loop="true">
          
          </VueVideo>
          
          
          </v-container>
                   
        </v-row>


      </div>

    </v-container>
          
     



    <v-container>
      <v-row>

        <v-col cols="12" md="12">
        <v-card 
        class="d-inline-block mx-auto"
        outlined 
        tile
        width="100%"
        style="background-color: transparent; border: none;"
        >
          
            <v-row justify="space-between" style="justify-content: center;">
                            

                <v-card-text class="text--primary" style="text-align: center;" v-for="event in events">
                 {{ event.event_excerpt }}
                </v-card-text>

                <v-card-actions >
                  <div class="light-button">
                  <v-btn
                    color="#111111"
                    outlined
                    tile
                    large
                    to="/book-a-table"
                  >
                    BOOK A TABLE
                  </v-btn>
                  </div>

                  
                </v-card-actions>


                </v-row>
              </v-card>
              </v-col>
              

              
            </v-row>
          </v-container>
        </v-container>   

  
</template>

<script>
  export default {
    data: () => ({           
      
      null: null, 
      events: [],
      eventsContent: [],
      
    }),

    computed: {
     
      
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {

      axios.get('/api/events/Content/'+this.$route.params.slug).then(response => {
            this.events = response.data.data;
        });       

               

      },     

       
    },
  }
</script>
<style>

.display-3 {
  
  display: inline-block; 
  margin: 0 auto;
}

.v-window__next {
  right: 3vw;
}

.v-window__prev {
  left: 3vw;
}

.whatson-overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100px;
  top: 45%;
  left: 0;
  right: 0;
  bottom: 0;   
  z-index: 2;
  color: white;
}
</style>
