<template> 
  <v-container class="text-center">
        <v-toolbar flat color="grey darken-3">
        <v-toolbar-title>Events</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>       
        
    </v-toolbar>
    
        <v-row v-for="event in events" style="border-style: solid; width: 100%; margin: 20px 0px 20px 0px;" class="d-flex align-center">        
            
            <v-col cols="6" style="padding: 20px; height: 325px">         
                                
                        <v-img height="275px" :src="'/'+event.event_main_image"></v-img>

            </v-col>

            <v-col cols="6" style="padding: 20px;">
             <div><h3> {{ event.event_day }}</h3></div>
             <div><h3> {{ event.event_title }}</h3></div>
              <div>{{ event.excerpt }}</div>
            </v-col>
              

            
            <v-container style="margin-left: 0px; padding: 12px 0px 12px 0px;">
                     
                     <v-icon
                        large
                        class="mr-2"
                        @click="editEvent(event)"
                      >
                        edit
                      </v-icon>
                      <v-divider
                      
                      vertical
                    ></v-divider>
                      <v-icon
                        large
                        @click="deleteEvent(event)"
                      >
                        delete
                      </v-icon>
                  
            </v-container>    
                       
            </v-row>

            <v-row>         
            
            <v-card v-bind:to="'/admin/events/add'" class="d-flex align-center" style="background: transparent; border-radius: 0px; box-shadow: none !important; margin-top: 10px;">
            <v-col style="width: 100vw; cursor: pointer; border-style: dashed; margin: 10px; padding: 0px; max-height: 213px; height: 213px" cols="12" class="d-flex align-center">
              
              <div style="width: 100%;">
                        <v-icon>mdi-plus</v-icon>
                        <v-list-item-title>Add New Event</v-list-item-title>
              </div>
            </v-col>
          </v-card>

          </v-row>        
        
    </v-container>   

  
</template>

<script>
  export default {
    data: () => ({           
      events: [],      
    }),

    computed: {

      
      
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {        

        axios.get('/api/events').then(response => {
            this.events = response.data.data;
        });        

      },  
       
      addEventContent (event) {
        this.$router.push('/admin/events/'+event.id+'/contentAdd')
      }, 

      editEvent (event) {
        this.$router.push('/admin/events/edit/'+event.id)
      }, 

      deleteEvent(event) {
        const index = this.events.indexOf(event)
        confirm('Are you sure you want to delete this item?') && this.events.splice(index, 1)
        axios.delete('/api/events/'+event.id)
      }, 

       
    },
  }
</script>
