<template> 

  <v-container fluid class="text-center" style="margin: 0px; max-width: 100vw; padding: 0px;">
    
    <v-container style="margin: 0px; max-width: 100vw; padding: 0px;">
        <v-row>

          <v-carousel          
          show-arrows 
          cycle 
          interval="1500"
          height="75vh"
          hide-delimiters 
          style="margin-left: 0px; margin-right: 0px; width: 100vw; padding-left: 0px; padding-right: 0px;">
          
          <div class="whatson-overlay">
            <h1 class="main-banner-text">LONDON'S LEGENDARY<br>
            TIKI PARADISE</h1>
          </div>

            <v-carousel-item
              v-for="(item,i) in items"
              :key="i"
              :src="item.src"
              :eager="true" >
              <div class="darkening-overlay">
          </div>                          
            
            </v-carousel-item>
          </v-carousel>

        </v-row>
    </v-container>


    <v-container>
      <v-row>

        <v-col cols="12" md="12">
        <v-card 
        class="d-inline-block mx-auto"
        outlined 
        tile
        width="100%"
        style="background-color: transparent; border: none;"
        >
          <v-container class="card-container">
            <v-row justify="space-between">
              <v-col cols="12" md="6">                
                <v-img                  
                  style="margin-left:auto;"
                  

                  src="/storage/Assets/celeb_home_left.jpg"
                  
                >                  
              </v-img>
              </v-col>  
              <v-col cols="12" md="6">                
                <v-img                  
                  
                  

                  src="/storage/Assets/celeb_home_right.jpg"
                  
                >                  
              </v-img>
              </v-col>
              <v-col cols="12" md="6">  
              <v-btn
                    color="#111111"
                    outlined
                    tile
                    large
                    to="/book-a-table"
                  >
                    BOOK A TABLE
                  </v-btn>
              </v-col>
              <v-col cols="12" md="6"> 
                  <v-btn
                    color="#111111"
                    outlined
                    tile
                    large
                    to="/enquiry"
                  >
                    BOOK A PARTY
                  </v-btn>  
              </v-col>          
            </v-row>
          </v-container>
        </v-card>
      </v-col>




      </v-row>

    </v-container>

    <v-container style="margin-left: 0px; margin-right: 0px; max-width: 100vw; padding-left: 0px; padding-right: 0px;">
        <v-row>
          

          
          <v-carousel          
          :show-arrows="false"          
          height="75vh"
          hide-delimiters 

          style="margin-left: 0px; margin-right: 0px; width: 100vw; padding-left: 0px; padding-right: 0px;">
          <div class="darkening-overlay">
          </div>
          <div class="whatson-overlay text-center">
            
              <v-img                  
                  height="100px"
                  contain

                  src="/storage/Assets/mahiki-London.png"
                  style="color: #ffffff;"
                >                  
              </v-img>
            
            <h1>WHAT'S ON</h1>            
              
            
              <v-btn
                    style="margin: 10px;"
                    color="#ffffff"
                    outlined
                    tile
                    large
                    to= '/whats-on'
                  >
                    MORE INFO
                  </v-btn>
            
          </div>
            <v-carousel-item
              v-for="(item,i) in whatitems"
              :key="i"
              :src="item.src"
            >
            </v-carousel-item>
          </v-carousel>
        
        

        </v-row>
    </v-container>

    <v-container class="pages-container">

        
        <v-row>
          
            <v-col cols="12" md="4" class="text-center">

              <v-card
                class="mx-auto"    
                tile
                outlined  
                color="#111111" 
                style="color: #ffffff;"         
              >
                <v-img
                  class="white--text align-end"
                  width="100%"
                  contain
                  src="/storage/Assets/sample1.jpg"
                >                  
                </v-img>
                <v-card-title
                class="text-left"><h1>About Us</h1></v-card-title>  

                <v-card-text class="text-left" style="background-color: #111111; color: white; ">
                  Mahiki’, London’s world famous Tiki Paradise has earned its place as the Mayfair legendary institution to have fun.
                </v-card-text>             

                

                <v-card-actions>
                  <div class="dark-button">
                  <v-btn
                    style="margin: 10px;"
                    color="#f47c30"
                    outlined
                    tile
                    large
                    to= "/About-Us"
                  >
                    MORE INFO
                  </v-btn>
                  </div>

                  
                </v-card-actions>
              </v-card>           
              
            </v-col>

            <v-col cols="12" md="4" class="text-center">

              <v-card
                class="mx-auto"   
                tile 
                outlined  
                color="#111111" 
                style="color: #ffffff;"          
              >
                <v-img
                  class="white--text align-end"
                  width="100%"
                  contain
                  src="/storage/Assets/sample2.JPG"
                >                  
                </v-img>
                <v-card-title><h1>MENUS</h1></v-card-title> 

                <v-card-text class="text-left" style="background-color: #111111; color: white; ">
                  World famous cocktails and food, innovative, creative, ironic and iconic, pioneering. Where Mahiki lead, others follow.
                </v-card-text>               

                

                <v-card-actions>
                  <div class="dark-button">
                  <v-btn
                    style="margin: 10px;"
                    color="#f47c30"
                    outlined
                    tile
                    large
                    to= "/Food-&-Cocktails"
                  >
                    MORE INFO
                  </v-btn>
                  </div>

                  
                </v-card-actions>
              </v-card>
              
              
            
              
            </v-col>

            <v-col cols="12" md="4" class="text-center">

              <v-card
                class="mx-auto" 
                tile        
                outlined  
                color="#111111"   
                style="color: #ffffff;"  
              >
                <v-img
                  class="white--text align-end"
                  width="100%"
                  contain
                  src="/storage/Assets/contact.jpg"
                >                  
                </v-img>
                <v-card-title><h1>Contact</h1></v-card-title> 

                <v-card-text class="text-left" style="background-color: #111111; color: white; ">
                  Find your way to London’s Legendary Tiki Paradise, find out how to get in touch with the team or ask a question.
                </v-card-text>  

                

                <v-card-actions>
                  <div class="dark-button">
                  <v-btn
                    style="margin: 10px;"
                    color="#f47c30"
                    outlined
                    tile
                    large
                    to= "/contact-us"
                  >
                    MORE INFO
                  </v-btn>
                  </div>

                  
                </v-card-actions>
              </v-card>
              
              
            
              
            </v-col>
          
        </v-row>  

      </v-container>
      <v-container style="max-width: 96vw; padding: 0px;" class="bamboo">
        
      </v-container>
      <v-container>
        
    
        
        <v-row style="justify-content: center;">
          <v-col cols="12" md="12" class="text-center">
        <h1> Instagram </h1>  <br>

        Follow <v-btn text href="https://www.instagram.com/mahikilondon/" target="_blank"> @mahikilondon </v-btn>
        <br>
      </v-col>
                
            <v-col cols="12" md="4" class="text-center insta-image" v-for="instagram in instagrams">
              <a :href="instagram.link">
              <v-img
                :href="instagram.link"
                :src="instagram.images.standard_resolution.url"
                height="300"
                width="300"
                
                
              ></v-img>
              </a>
            
              
            </v-col>
          
        </v-row>
        </v-container>  
        
    </v-container>   

  
</template>

<script>
  export default {
    data: () => ({           
      instagrams: [], 
      null: null, 
      items: [
          {
            src: '/storage/Assets/about-collage.jpg',
          },
          {
            src: '/storage/Assets/sample1.jpg',
          },
          {
            src: '/storage/Assets/HOMEPAGE1.jpg',
          },          
          {
            src: '/storage/Assets/HOMEPAGE2.jpg',
          },
          {
            src: '/storage/Assets/Treasure_Chest_Seeing_Doubles.jpg',
          }, 
          {
            src: '/storage/Assets/Chicken_Kara_Age_Slider.jpg',
          },  
          {
            src: '/storage/Assets/NEW-HOMEPAGE-PIC-6.jpg',
          },          
        ], 
      whatitems: [
          {
            src: '/storage/Assets/HOMEPAGE3.jpg',
          },                       
        ],

        HTMLcontent: '<video style="width: 100%;" autoplay loop controls><source src="/storage/files/1/Videos/MAHIKI_MONDAYS.mp4" type="video/mp4"></video>',

      famous_carousel: [
          {
            photo: '/storage/Assets/Famous/1.jpg',
          },
          {
            photo: '/storage/Assets/Famous/2.jpg',
          },
          {
            photo: '/storage/Assets/Famous/3.jpg',
          },
          {
            photo: '/storage/Assets/Famous/4.jpg',
          },
          {
            photo: '/storage/Assets/Famous/5.jpg',
          },

      ],   
    }),

    computed: {

      
      
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {        

        axios.get('/api/instagrams').then(response => {
            this.instagrams = response.data.data;
        });        

      },  
       

      editEvent (event) {
        this.$router.push('/admin/seasonalevents/edit/'+event.id)
      }, 

      deleteEvent(event) {
        const index = this.events.indexOf(event)
        confirm('Are you sure you want to delete this item?') && this.events.splice(index, 1)
        axios.delete('/api/seasonalevents/'+event.id)
      }, 

       
    },
  }
</script>
<style>

bolder {
  font-weight: 900;
}

.display-3 {
  
  display: inline-block; 
  margin: 0 auto;
}

.v-window__next {
  right: 3vw;
  z-index: 10;
}

.v-window__prev {
  left: 3vw;
  z-index: 10;
}

.whatson-overlay {
  position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    top: 5%;
    left: 25%;
    right: 0;
    bottom: 0;
    z-index: 2;
    color: white;    
}

.main-banner-text {
  font-size: 4.5em !important; 
  letter-spacing: 0em !important;
}

.darkening-overlay{
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;  
  
  left: 0;
  right: 0;
  
  z-index: 2;
}

.bamboo {
  border-bottom: 40px solid transparent;
  padding: 15px;
  border-image: url("/storage/Assets/bamboo.png") 1000 round;

}

@media all and (max-width: 1024px) {  

} 

@media all and (max-width: 839px) { 
  
} 

@media all and (max-width: 480px) { 

  .pages-container {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  } 

  .pages-container .col-12 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .pages-container .v-card__title, .pages-container .v-card__text, .pages-container .v-card__actions  {
    padding-left: 16%;
    padding-right: 16%;

  }

  .card-container  .v-card__title, .card-container  .v-card__text, .card-container  .v-card__actions {
    justify-content: center;
    text-align: center !important;
  }

  .main-banner-text {
  font-size: 2.5em !important; 
  letter-spacing: 0em !important;
}

.card-container .light-button .v-btn {
    margin-top: 15px;
  }

.insta-image .v-image {
  margin-left: auto;
  margin-right: auto;
}

}

@media only screen and (max-width: 1366px) and (orientation: landscape) {  
  
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {  
  
}

@media only screen and (max-width: 839px) and (orientation: landscape) {

  
}
</style>
