<template>
  <v-card
    class="mx-auto"
    style="max-width: 900%;"
    
  >
    
    <v-toolbar
      color="deep-purple accent-4"
      cards
      dark
      flat
    >      
      <v-card-title class="title font-weight-regular">Add Supplier</v-card-title>
      <v-spacer></v-spacer>     
    </v-toolbar> 
       
    
    <v-form
      ref="form"
      v-model="form"
      class="pa-4 pt-6"      
    >

      <v-file-input v-model="selectedFile" type="file" id="file" ref="file" label="Select Company Logo" v-on:change="handleFileUpload()"></v-file-input>
      
      <v-text-field
        v-model="supplier_name"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Supplier Name"
        style="min-height: 96px"        
      ></v-text-field>
      <v-textarea
        v-model="supplier_summary"
        :rules="[rules.required]"
        auto-grow
        filled
        color="deep-purple"
        label="Supplier Summary"
        rows="3"
      ></v-textarea>
      <v-textarea
        v-model="supplier_description"
        :rules="[rules.required]"
        auto-grow
        filled
        color="deep-purple"
        label="Supplier Description"
        rows="10"
      ></v-textarea>
      <v-text-field
        v-model="supplier_url"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Supplier URL"
        style="min-height: 96px"        
      ></v-text-field>

    </v-form>
    <v-divider></v-divider>
    <v-card-actions>
      <v-btn
        text
        @click="$refs.form.reset()"
      >
        Clear
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn text color="blue darken-1" text @click="submitForm()">Save</v-btn>          
    </v-card-actions>
    
  </v-card>
</template>


<script>
  export default {
    
    data: () => ({
      dialog: false,                     
      form: false,
      isLoading: false,   
      supplier_name: '', 
      supplier_summary: '', 
      supplier_description: '', 
      supplier_url: '',     
      selectedFile: [],
      file: '',
      rules: {       
        required: v => !!v || 'This field is required',
      },    
    }),

       
       

    methods: {         

      handleFileUpload(){
        this.file = this.selectedFile;
      },

      submitForm () {
        let formData = new FormData();
        formData.append('supplier_name', this.supplier_name);
        formData.append('supplier_summary', this.supplier_summary);
        formData.append('supplier_description', this.supplier_description);
        formData.append('supplier_url', this.supplier_url);
        formData.append('photo', this.file);
        let settings = { headers: { 'content-type': 'multipart/form-data' } };
        axios.post('/api/suppliers', formData, settings)     
        this.$router.go(-1)
      },       
    },
  }
</script>
