<template> 
  <v-container class="text-center">
        <v-toolbar flat color="grey darken-3">
        <v-toolbar-title>Images | Supplier Logo</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        
        
        
    </v-toolbar>
    
        <v-row>        
            
            <v-col v-if="!suppliers[0].length" cols="3" v-for="supplier in suppliers" height="213" width="213">
              <div v-for="item in supplier.logo">

            <v-card  height="213" width="213"> 
                <v-col>           
                  <v-img :src="'/'+item.photo" width="200"></v-img>            
                  <v-list-item-title>{{ item.title }}</v-list-item-title>
                  
                </v-col>
            </v-card>
            <v-container style="width: 213px; margin-left: 0px; padding: 12px 0px 12px 0px;">
                    
                      <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                      >
                        edit
                      </v-icon>
                      <v-divider
                      class="mx-4"
                      vertical
                    ></v-divider>
                      <v-icon
                        small
                        @click="deleteLogo(item)"
                      >
                        delete
                      </v-icon>
                  
                </v-container>    
                </div>        
            </v-col>
          
            <input type="file" id="file" ref="file" style="display:none;" v-on:change="handleFileUpload()" accept="image/*">
            <v-col style="cursor: pointer; border-style: dashed; margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" class="d-flex align-center" @click="openFileInput()">
              
              <div style="width: 213px;">
                        <v-icon>mdi-plus</v-icon>
                        <v-list-item-title>Add Image</v-list-item-title>
              </div>
            </v-col>

            <v-col style="margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" v-show="showPreview">
            <v-row>
              <v-img  v-bind:src="logoPreview" v-show="showPreview" width="200"/></v-img>
            </v-row>
            <v-row>
              
              <v-text-field v-model="title" label="Title" v-show="showPreview"></v-text-field>

              
            </v-row>
            </v-col>

            <v-col style="margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" class="d-flex align-center" v-show="showPreview">
              
              <div style="width: 213px;" v-show="showPreview">
                        <v-btn color="blue darken-1" text @click="saveLogo()" v-show="showPreview">Save Logo</v-btn>
              </div>
            </v-col>
            


        </v-row>
    

    
        <v-toolbar flat color="grey darken-3">
        <v-toolbar-title>Images</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        
        
        
    </v-toolbar>
    
        <v-row v-for="supplier in suppliers">        
            
            <v-col v-if="!suppliers[0].length"  cols="3" v-for="item in supplier.images" height="213" width="213">
              

            <v-card  height="213" width="213"> 
                <v-col>           
                  <v-img :src="'/'+item.photo" height="150"></v-img>            
                  <v-list-item-title>{{ item.title }}</v-list-item-title>
                  <input type="text" v-model="deleteMethod" value="images" style="display:none">
                  
                  
                </v-col>
            </v-card>
            <v-container style="width: 213px; margin-left: 0px; padding: 12px 0px 12px 0px;">
                    
                      <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                      >
                        edit
                      </v-icon>
                      <v-divider
                      class="mx-4"
                      vertical
                    ></v-divider>
                      <v-icon
                        small
                        @click="deleteImage(item)"
                      >
                        delete
                      </v-icon>
                  
                </v-container>    
                       
            </v-col>
        </v-row>
        <v-row>
            

        


            <input type="file" id="files" ref="files" style="display:none;" multiple v-on:change="handleImageUpload()" accept="image/*">
            <v-col style="cursor: pointer; border-style: dashed; margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" class="d-flex align-center" @click="openImageInput()">
              
              <div style="width: 213px;">
                        <v-icon>mdi-plus</v-icon>
                        <v-list-item-title>Add Image</v-list-item-title>
              </div>
            </v-col>

            <v-col v-for="(file, key) in files" style="margin: 10px 30px 10px 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" v-show="showImagePreview">
            <v-row>
              <v-img  v-bind:ref="'image'+parseInt( key )" v-show="showImagePreview" height="150"/></v-img>
            </v-row>
            <v-row>
              
              <v-text-field v-model="image_title[parseInt( key )]" label="Title" v-show="showImagePreview"></v-text-field>

              
            </v-row>
            </v-col>

            <v-col style="margin: 10px; padding: 0px; max-width: 100px; width: 100px; max-height: 213px; height: 213px" cols="1" class="d-flex align-center" v-show="showImagePreview">
              
              <div style="width: 213px;" v-show="showImagePreview">
                        <v-btn color="blue darken-1" text @click="saveImages()" v-show="showImagePreview">Save Images</v-btn>
              </div>
            </v-col>
            


        </v-row>
    </v-container>

    

  
</template>

<script>
  export default {
    data: () => ({
      dialog: false,                     
      form: false,
      isLoading: false,   
      supplier_name: '',     
      showPreview: false,
      showImagePreview: false,
      deleteMethod: '',
      imagePreview: '',
      logoPreview: '',
      title: '',

      image_title: [],
      files: [],
      rules: {       
        required: v => !!v || 'This field is required',
      },      
      suppliers: [],
      selectedFile: [],
      editedIndex: -1,
      
      
      
    }),

    computed: {
      
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        
        axios.get('/api/suppliers/Manage-images/'+this.$route.params.slug).then(response => {
            this.suppliers = response.data.data;
        });
        
        

      },

      openFileInput () {
        this.$refs.file.click()
      },

      openImageInput () {
        this.$refs.files.click()
      },

      handleFileUpload(){
        this.file = this.$refs.file.files[0];
        let reader  = new FileReader();

        /*
          Add an event listener to the reader that when the file
          has been loaded, we flag the show preview as true and set the
          image to be what was read from the reader.
        */
        reader.addEventListener("load", function () {
          this.showPreview = true;
          this.logoPreview = reader.result;
        }.bind(this), false);

        /*
          Check to see if the file is not empty.
        */
        if( this.file ){
          /*
            Ensure the file is an image file.
          */
          if ( /\.(jpe?g|png|gif)$/i.test( this.file.name ) ) {
            /*
              Fire the readAsDataURL method which will read the file in and
              upon completion fire a 'load' event which we will listen to and
              display the image in the preview.
            */
            reader.readAsDataURL( this.file );
          }
        }
  
      },

      handleImageUpload(){
        /*
          Get the uploaded files from the input.
        */
        let uploadedFiles = this.$refs.files.files;

        /*
          Adds the uploaded file to the files array
        */
        for( var i = 0; i < uploadedFiles.length; i++ ){
          this.files.push( uploadedFiles[i] );
        }

        /*
          Generate image previews for the uploaded files
        */
        this.getImagePreviews();
  
      },

      getImagePreviews(){
        /*
          Iterate over all of the files and generate an image preview for each one.
        */
        for( let i = 0; i < this.files.length; i++ ){
          /*
            Ensure the file is an image file
          */
          if ( /\.(jpe?g|png|gif)$/i.test( this.files[i].name ) ) {
            /*
              Create a new FileReader object
            */
            let reader = new FileReader();

            /*
              Add an event listener for when the file has been loaded
              to update the src on the file preview.
            */
            reader.addEventListener("load", function(){
              this.showImagePreview = true;              
              this.$refs['image'+parseInt( i )][0].src = reader.result;
            }.bind(this), false);

            /*
              Read the data for the file in through the reader. When it has
              been loaded, we listen to the event propagated and set the image
              src to what was loaded from the reader.
            */
            reader.readAsDataURL( this.files[i] );
          }
        }
      },

      saveLogo() {
        let formData = new FormData();        
        formData.append('photo', this.file);

        let settings = { headers: { 'content-type': 'multipart/form-data' } };

        axios.post('/api/suppliers/Manage-images/'+this.$route.params.slug+'/AddLogo', formData, settings)    
        setTimeout(() => this.initialize(), 500); 
      },

      saveImages() {
        let formData = new FormData(); 

        for( var i = 0; i < this.files.length; i++ ){
          let file = this.files[i];
          let title = this.image_title[i];

          formData.append('photo[' + i + ']', file);
          formData.append('title[' + i + ']', title);
        }
        
        let settings = { headers: { 'content-type': 'multipart/form-data' } };

        axios.post('/api/suppliers/Manage-images/'+this.$route.params.slug+'/AddImages', formData, settings)
        this.showImagePreview = false;    
        setTimeout(() => this.initialize(), 500); 
      },

      deleteLogo(item) {
        const index = this.suppliers[0].logo.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.suppliers[0].images.splice(index, 1)
        axios.post('/api/suppliers/Manage-images/'+item.id+'/DeleteLogo', {slug:this.$route.params.slug})
      },

      deleteImage(item) {
        const index = this.suppliers[0].images.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.suppliers[0].images.splice(index, 1)
        axios.post('/api/suppliers/Manage-images/'+item.id+'/DeleteImage',{slug:this.$route.params.slug,  _method: 'delete'
         })
      },

       
    },
  }
</script>
