<template>
  <iframe src="/filemanager" style="width: 100%; height: 625px; overflow: hidden; border: none;"></iframe>
</template>



<script>
  export default {
    data: () => ({
      
    }),
    computed: {
      
    },
    watch: {
      
    },
    
    methods: {
      
    },
  };
</script>