<template> 
  <v-container class="text-center">
        <v-toolbar flat color="grey darken-3">
        <v-toolbar-title v-for="page in pages">{{ page.page_name }} | Sections</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>       
        
    </v-toolbar>
    
        <v-row v-for="section in sections" style="border-style: solid; width: 100%; margin: 20px 0px 20px 0px;" class="d-flex align-center">        
            
            <v-col cols="6" style="padding: 20px; height: 275px">
              <div v-if="section.section_media == 'single'">
              <div v-for="item in section.images_single">
                   
                                
                        <v-img height="275" :src="'/'+item.photo"></v-img>            
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                        
                      
                                  
              </div>
              </div>

              <div v-if="section.section_media == 'carousel'">
              <div v-for="(item, index) in section.images_carousel" v-if="index <= 0">

                   
                                
                        <v-img height="275" :src="'/'+item.photo"></v-img>            
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                        
                      
                                  
              </div>
              </div>        
            </v-col>

            <v-col cols="6" style="padding: 20px;">
             <div><h3> {{ section.section_title }}</h3></div>
              <div>{{ section.section_text }}</div>
            </v-col>
              

            
            <v-container style="margin-left: 0px; padding: 12px 0px 12px 0px;">
                    <v-icon
                        large
                        class="mr-2"
                        @click="pdf(section)"
                      >
                        mdi-paperclip
                      </v-icon> 
                     <v-icon
                        large
                        class="mr-2"
                        @click="editSection(section)"
                      >
                        edit
                      </v-icon>
                      <v-divider
                      
                      vertical
                    ></v-divider>
                      <v-icon
                        large
                        @click="deleteSection(section)"
                      >
                        delete
                      </v-icon>
                  
            </v-container>    
                       
            </v-row>

            <v-row>         
            
            <v-card v-bind:to="'/admin/pages/sections/'+this.$route.params.slug+'/add'" class="d-flex align-center" style="background: transparent; border-radius: 0px; box-shadow: none !important; margin-top: 10px;">
            <v-col style="width: 100vw; cursor: pointer; border-style: dashed; margin: 10px; padding: 0px; max-height: 213px; height: 213px" cols="12" class="d-flex align-center">
              
              <div style="width: 100%;">
                        <v-icon>mdi-plus</v-icon>
                        <v-list-item-title>Add New Page Section</v-list-item-title>
              </div>
            </v-col>
          </v-card>

          </v-row>
    

    
        
    
        
        
    </v-container>

    

  
</template>

<script>
  export default {
    data: () => ({           
      pages: [],  
      sections: [],      
    }),

    computed: {

      
      
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        
        axios.get('/api/pages/edit/'+this.$route.params.slug).then(response => {
            this.pages = response.data.data;
        });

        axios.get('/api/pageSections/'+this.$route.params.slug).then(response => {
            this.sections = response.data.data;
        });        

      },  
       
      pdf (section) {
        this.$router.push('/admin/seasonalevents/'+this.$route.params.slug+'/pdf/'+section.id)
      },

      editSection (section) {
        this.$router.push('/admin/pages/sections/'+this.$route.params.slug+'/edit/'+section.id)
      }, 

      deleteSection(section) {
        const index = this.sections.indexOf(section)
        confirm('Are you sure you want to delete this item?') && this.sections.splice(index, 1)
        axios.delete('/api/pageSections/'+section.id)
      }, 

       
    },
  }
</script>
