<template> 
  <v-container class="text-center">  

    <v-card
    class="mx-auto"
    style="max-width: 900%;"
    
    >
    
    <v-toolbar
      color="deep-purple accent-4"
      cards
      dark
      flat
      
    >      
      <v-card-title class="title font-weight-regular" v-for="section in sections">Section PDF's | {{ section.section_title }}</v-card-title>
      <v-spacer></v-spacer>     
    </v-toolbar> 

    

   

    <v-form
              ref="form"
              v-model="form"
              class="pa-4 pt-6"      
            >

               

            <v-col cols="12">

            <div class="text-center">
              <v-btn color="blue darken-1"  x-large @click="openFileManager">Choose PDF's</v-btn>        
            </div>

            </v-col>
            <v-col cols="12">


            <v-row v-if="medias.length !== 0">
              <v-col cols="12">
                  <v-toolbar flat color="deep-purple accent-4">
                    <v-toolbar-title>New PDF's</v-toolbar-title>
                  </v-toolbar>
              </v-col>
              <v-col cols="12" md="3" v-for="(media, key) in medias">
              
              <v-col cols="12">             
              <v-card class="d-flex align-center" height="200px" style="margin-bottom: 10px;"> 
                <v-col>           
                  <v-icon>mdi-file-pdf</v-icon>            
                  <v-list-item-title>PDF</v-list-item-title>
                  <v-list-item>{{ media.url }}</v-list-item>
                </v-col>
            </v-card>  
              </v-col>
              

              </v-col> 
              <v-col cols="12" md="12">
                <div class="text-center">
                  <v-btn color="blue darken-1"  x-large @click="save()">Save PDF</v-btn>        
                </div> 
              </v-col>
            </v-row> 

            <div v-for="section in sections">

            <div v-if="section.p_d_f.length !== 0">
              <v-toolbar flat color="deep-purple accent-4">
              <v-toolbar-title>Current Media</v-toolbar-title>
            </v-toolbar>
              <v-row v-for="section in sections">
              <v-col cols="12" md="3" v-for="(pdf, key) in section.p_d_f">
              
              <v-col cols="12">       

              
              <v-card class="d-flex align-center" height="200px" style="margin-bottom: 10px;"> 
                <v-col>           
                  <v-icon>mdi-file-pdf</v-icon>            
                  <v-list-item-title>PDF</v-list-item-title>
                  <v-list-item>{{ pdf.PDF_file }}</v-list-item>
                </v-col>
            </v-card> 
               
              
              <div class="text-center">
                  <v-btn color="red darken-1"  @click="deletePDF(pdf)">Delete PDF</v-btn>        
              </div>

              </v-col>

              </v-col> 
              
            </v-row>

            </div> 
          </div>


            
            </v-col>       
            
            

            </v-form> 
      

      
    <v-divider></v-divider>
    <v-card-actions>
      <v-btn
        text
        @click="$refs.form.reset()"
      >
        Clear
      </v-btn>
      <v-spacer></v-spacer>
               
    </v-card-actions> 
    </v-card>  
      
    </v-container>

    

  
</template>

<script>
  export default {
    data: () => ({
      dialog: false,                     
      form: false,
      
      
      sections: [],
      
      editedIndex: -1,
      
      medias: [],
      media_title: [],
      
      
      
    }),

    computed: {

            
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()      
      
    },

         

    methods: {
      initialize () {       

        axios.get('/api/pageSections/edit/'+this.$route.params.slug+'/'+this.$route.params.id).then(response => {
            this.sections = response.data.data;
        });    

      },

      openFileManager () {
      window.open(`/filemanager`, 'width=900,height=600')
      var self = this
      window.SetUrl = function (items) {
        
        self.medias = items;
        
      }
      return false
    }, 

      
          

      deletePDF(pdf) {
        confirm('Are you sure you want to delete this item?')
        let formData = new FormData();       

        axios.post('/api/PDF/'+pdf.id,{_method: 'delete'}).then(response=>console.log(response.data));

        setTimeout(() => this.initialize(), 1000);
      },

      save () {
        let formData = new FormData(); 


        for( var i = 0; i < this.medias.length; i++ ){
          let file = this.medias[i].url;        

          formData.append('pdf[' + i + ']', file);
          
        }
          
        formData.append('section_id', this.sections[0].id);    
        
        

        axios.post('/api/PDF', formData)
            
        setTimeout(() => this.initialize(), 3000);   

        this.medias = [];    
      },

       
    },


  }
</script>
