<template> 

  <v-container fluid class="text-center" style="margin: 0px; max-width: 100vw; padding: 0px;">
    
    <v-container style="margin: 0px; max-width: 100vw; padding: 0px;" v-for="banner in pagebanners" v-if="banner.banner_type == 'Single Image' || banner.banner_type == 'Carousel Image'">
        <v-row>

          <v-carousel          
          :show-arrows="true" 
          cycle 
          height="75vh"
          hide-delimiters 
          style="margin-left: 0px; margin-right: 0px; width: 100vw; padding-left: 0px; padding-right: 0px;"
          >
          <div class="darkening-overlay">
          </div>
          <div class="whatson-overlay">
            <h1>{{ pages[0].page_title }}</h1>
          </div>
          
            <v-carousel-item
              v-for="(item,i) in banner.banner_media"              
              :key="i"
              :src="item.media"
            >
            </v-carousel-item>
          
          
          </v-carousel>

        </v-row>
    </v-container>

    <v-container style="margin: 0px; max-width: 100vw; padding: 0px;" v-for="banner in pagebanners" v-if="banner.banner_type == 'Video'">
        <v-row>
          <div class="darkening-overlay">
          </div>
          <div class="whatson-overlay">
            <h1>{{ pages[0].page_title }}</h1>
          </div>

          <VueVideo v-for="(item,i) in banner.banner_media" :src="item.media" autoplay="false" controls="false" loop="true">
          
          </VueVideo>
          

        </v-row>
    </v-container>
    
    <v-container v-for="page in pages" style="margin-top: 60px;" v-if="page.excerpt !== null">
      <div text-center>
        <span v-html="page.excerpt"></span>
      </div>
    </v-container>


    <v-container>
      <div v-for="page in pages">
      <v-row v-for="(section, index) in page.sections">

        <div style="width: 100%;" v-if="index % 2 == 0">

        <v-col cols="12" md="12">
        <v-card 
        class="d-inline-block mx-auto"
        outlined 
        tile
        width="100%"
        style="background-color: transparent; border: none;"
        >
          <v-container style="min-height: 272px;">
            <v-row justify="space-between">
              <v-col cols="12" md="4" v-for="banner in section.page_banner">
                <div v-if="banner.banner_type == 'Single Image'">
                  
                <v-img
                  height="224"
                  width="336"
                  :src="banner.banner_media[0].media"
                ></v-img>
              
                </div>
                <div v-if="banner.banner_type == 'Carousel Image'">

                  <v-carousel     
                      style="min-height: 224px;"     
                      :show-arrows="false"
                      cycle 
                      height="224"
                      width="336"
                      hide-delimiters 
                      
                      >              
                        <v-carousel-item
                          v-for="(item,i) in banner.banner_media"                          
                          :key="i"
                          :src="item.media"
                        >
                        </v-carousel-item>
                      
                    </v-carousel>


                    </div>
              </v-col>

              <v-col
                cols="12" md="8"
                class="text-center pl-0"
              >
                <v-row
                  class="flex-column ma-0 fill-height"
                  justify="center"
                >
                  <v-card-title>{{ section.section_title }}</v-card-title>               

                <v-card-text class="text--primary" style="text-align: left;">
                  <span v-html="section.section_text"></span>
                </v-card-text>

                <v-card-actions>
                  <div v-if="slug == 'Lounge-Dance' || slug == 'About-Us'">
                    <div class="light-button">
                  <v-btn
                    color="#111111"
                    outlined
                    tile
                    large
                    to="/book-a-table"
                  >
                    BOOK A TABLE
                  </v-btn>
                  <v-btn
                    color="#111111"
                    outlined
                    tile
                    large
                    to="/enquiry"
                  >
                    BOOK A PARTY
                  </v-btn>
                  </div>
                  </div>  

                  <div v-if="slug == 'Private-Parties'">
                    <div class="light-button">                  
                  <v-btn
                    color="#111111"
                    outlined
                    tile
                    large
                    to="/enquiry"
                  >
                    BOOK A PARTY
                  </v-btn>
                  </div>
                  </div>   

                  <div v-if="section.pdf == 'true'" v-for="pdf in section.p_d_f">
                    <v-btn
                    color="#111111"
                    outlined
                    tile
                    large
                    target="_blank"
                    :href="pdf.PDF_file"
                  >
                    {{ section.section_title }}
                  </v-btn>
                  </div>             
                </v-card-actions>


                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </div>
    <div style="width: 100%;" v-if="Math.abs(index % 2) == 1">

      <v-col cols="12" md="12">
        <v-card 
        class="d-inline-block mx-auto"
        outlined 
        tile
        width="100%"
        style="background-color: transparent; border: none;"
        >
          <v-container style="min-height: 272px;">
            <v-row justify="space-between">
              <v-col
                cols="12" md="8"
                class="text-center pl-0"
              >
                <v-row
                  class="flex-column ma-0 fill-height"
                  justify="center"
                >
                  <v-card-title>{{ section.section_title }}</v-card-title>              

                <v-card-text class="text--primary" style="text-align: left;">
                  {{ section.section_text }}
                </v-card-text>

                <v-card-actions>
                  <div v-if="slug == 'Lounge-Dance' || slug == 'About-Us'">
                    <div class="light-button">
                  <v-btn
                    color="#111111"
                    outlined
                    tile
                    large
                    to="/book-a-table"
                  >
                    BOOK A TABLE
                  </v-btn>
                  <v-btn
                    color="#111111"
                    outlined
                    tile
                    large
                    to="/enquiry"
                  >
                    BOOK A PARTY
                  </v-btn>
                  </div>
                  </div>  

                  <div v-if="slug == 'Private-Parties'">
                    <div class="light-button">                  
                  <v-btn
                    color="#111111"
                    outlined
                    tile
                    large
                    to="/enquiry"
                  >
                    BOOK A PARTY
                  </v-btn>
                  </div>
                  </div> 

                  <div v-if="section.pdf == 'true'" v-for="pdf in section.p_d_f">
                    <v-btn
                    color="#111111"
                    outlined
                    tile
                    large
                    target="_blank"
                    :href="pdf.PDF_file"
                  >
                    {{ section.section_title }}
                  </v-btn>
                  </div>           
                </v-card-actions>


                </v-row>
              </v-col>
              <v-col cols="12" md="4" v-for="banner in section.page_banner">
                <div v-if="banner.banner_type == 'Single Image'">
                  
                <v-img
                  height="224"
                  width="336"
                  :src="banner.banner_media[0].media"
                ></v-img>
              
                </div>
                <div v-if="banner.banner_type == 'Carousel Image'">

                  <v-carousel     
                      style="min-height: 224px;"     
                      :show-arrows="false"
                      cycle 
                      height="224"
                      width="336"
                      hide-delimiters 
                      
                      >              
                        <v-carousel-item
                          v-for="(item,i) in banner.banner_media"                          
                          :key="i"
                          :src="item.media"
                        >
                        </v-carousel-item>
                      
                    </v-carousel>


                    </div>
              </v-col>

              
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </div>




      </v-row>
    </div>
    </v-container>

    

    
        
        
    </v-container>   

  
</template>

<script>
  export default {
    data: () => ({           
      pages: [], 
      sections: [],
      null: null, 
      items: [
          {
            src: '/storage/Assets/sample1.jpg',
          },
          {
            src: '/storage/Assets/sample2.jpg',
          },
          {
            src: '/storage/Assets/sample3.jpeg',
          },          
        ], 
      slug: '',
      pagebanners: [],   
    }),


    computed: {

      
      
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {        

        axios.get('/api/pages/'+this.$route.params.slug).then(response => {
            this.pages = response.data.data;
        }); 

        axios.get('/api/PageBanner/GetBanner/'+this.$route.params.slug).then(response => {
            this.pagebanners = response.data.data;            
        });  

        this.slug = this.$route.params.slug;

      },      

       
    },
  }
</script>
<style>

ul {
  margin-left: 60px;
}

bold {
  font-weight: 900;
}

.display-3 {
  
  display: inline-block; 
  margin: 0 auto;
}

.v-window__next {
  right: 3vw;
}

.v-window__prev {
  left: 3vw;
}

.whatson-overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100px;
  top: 45%;
  left: 0;
  right: 0;
  bottom: 0;   
  z-index: 2;
  color: white;
}
</style>
