<template> 
  <v-container class="text-center">
    
    
    <v-toolbar
      color="deep-purple accent-4"
      cards
      v-for="page in pages"
    >      
      <v-card-title class="title font-weight-regular">{{ page.page_name }} | Media</v-card-title>
      <v-spacer></v-spacer>     
    </v-toolbar> 


    <v-form
              ref="form"
              v-model="form"
              class="pa-4 pt-6"      
            >

            <v-col cols="12">
              <v-select
                v-model="banner_type"
                :rules="[rules.required]"        
                filled
                color="deep-purple"
                label="Banner Type"
                :items="banners"
                style="min-height: 96px"        
              ></v-select>
            </v-col>   

            <v-col cols="12">

            <div class="text-center">
              <v-btn color="blue darken-1"  x-large @click="openFileManager">Choose Images</v-btn>        
            </div>

            </v-col>
            <v-col cols="12">


            <v-row v-if="medias.length !== 0">
              <v-col cols="12">
                  <v-toolbar flat color="deep-purple accent-4">
                    <v-toolbar-title>New Media</v-toolbar-title>
                  </v-toolbar>
              </v-col>
              <v-col cols="12" md="3" v-for="(media, key) in medias">
              
              <v-col cols="12">             
              <v-img class="mt-3" :src="media.url"> </v-img>  
              </v-col>
              <v-col cols="12"> 
              <v-text-field
                v-model="media_title[parseInt( key )]"
                :rules="[rules.required]"        
                filled
                color="deep-purple"
                label="Media Title"
                style="min-height: 96px"        
              ></v-text-field>
              </v-col>

              </v-col> 
              <v-col cols="12" md="12">
                <div class="text-center">
                  <v-btn color="blue darken-1"  x-large @click="saveImages()">Save Images</v-btn>        
                </div> 
              </v-col>
            </v-row> 

            <div v-if="pagebanners.length !== 0">
              <v-toolbar flat color="deep-purple accent-4">
              <v-toolbar-title>Current Media</v-toolbar-title>
            </v-toolbar>
              <v-row v-for="page in pagebanners">
              <v-col cols="12" md="3" v-for="(img, key) in page.banner_media">
              
              <v-col cols="12">       

              <v-img v-if="page.banner_type !== 'Video'" height="200px" contain class="mt-3" :src="img.media"> </v-img> 
              <v-card v-else class="d-flex align-center" height="200px" style="margin-bottom: 10px;"> 
                <v-col>           
                  <v-icon>mdi-video</v-icon>            
                  <v-list-item-title>Video</v-list-item-title>
                </v-col>
            </v-card> 
               
              <v-text-field                
                v-model="img.title"                             
                solo
                color="deep-purple"
                disabled
                style="min-height: 96px"        
              ></v-text-field>
              <div class="text-center">
                  <v-btn color="red darken-1"  @click="deleteImage(img)">Delete Media</v-btn>        
              </div>

              </v-col>

              </v-col> 
              
            </v-row>

            </div> 


            
            </v-col>       
            
            

            </v-form>          
        
    
    
      
    </v-container>

    

  
</template>

<script>
  export default {
    data: () => ({
      dialog: false,                     
      form: false,    
      pages: [],      
           
      banners: [
      'Single Image',
      'Carousel Image',
      'Video',
      ],
      rules: {       
        required: v => !!v || 'This field is required',
      },         
      medias: [],
      media_title: [],
      edited_media_title: [],
      pagebanners: [],
      banner_type: '',
      editedIndex: -1,
      
      
      
    }),

    computed: {

            
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()      
      
    },

         

    methods: {
      initialize () {
        
        axios.get('/api/pages/media/'+this.$route.params.slug).then(response => {
            this.pages = response.data.data;
        });  

        axios.get('/api/PageBanner/GetBanner/'+this.$route.params.slug).then(response => {
            this.pagebanners = response.data.data;            
            this.banner_type = response.data.data[0].banner_type;
        });   

      },

      openFileManager () {
      window.open(`/filemanager`, 'width=900,height=600')
      var self = this
      window.SetUrl = function (items) {
        
        self.medias = items;
        
      }
      return false
    },    

    saveImages() {       

        let formData = new FormData(); 

        for( var i = 0; i < this.medias.length; i++ ){
          let file = this.medias[i].url;
          let title = this.media_title[i];

          formData.append('media[' + i + ']', file);
          formData.append('title[' + i + ']', title);
        }
        formData.append('page_id', this.pages[0].id);
        formData.append('banner_type', this.banner_type);

        if (this.pagebanners.length > -0) {
          formData.append('isEdited', 'yes');
        }
        else{
          formData.append('isEdited', 'no');
        }
                      
        
        axios.post('/api/PageBanner', formData)        
        
        setTimeout(() => this.initialize(), 3000); 

        this.medias = [];

      
         
      },

      deleteImage(img) {
        confirm('Are you sure you want to delete this item?')
        let formData = new FormData();       

        axios.post('/api/media/'+img.id,{type:'PageBanner', _method: 'delete'}).then(response=>console.log(response.data));

        setTimeout(() => this.initialize(), 1000);
      },  

       
    },


  }
</script>
