<template>
  <v-card
    class="mx-auto"
    style="max-width: 900%;"
    
  >
    
    <v-toolbar
      color="deep-purple accent-4"
      cards
      dark
      flat
    >      
      <v-card-title class="title font-weight-regular">Add Page</v-card-title>
      <v-spacer></v-spacer>     
    </v-toolbar> 
       
    
    <v-form
      ref="form"
      v-model="form"
      class="pa-4 pt-6"      
    >    
      
      <v-text-field
        v-model="page_name"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Page Name"
        style="min-height: 96px"        
      ></v-text-field>      

      <v-text-field
        v-model="page_title"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Page Title"
        style="min-height: 96px"        
      ></v-text-field>

      <v-text-field
        v-model="page_subtitle"                
        filled
        color="deep-purple"
        label="Page Subtitle"
        style="min-height: 96px"        
      ></v-text-field>

      <v-text-field
        v-model="slug"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Slug"
        style="min-height: 96px"        
      ></v-text-field>

      <v-textarea
        v-model="excerpt"        
        auto-grow
        filled
        color="deep-purple"
        label="Excerpt"
        rows="3"
      ></v-textarea>

      <v-select
          v-model="template"
          :items="templates"
          item-text="template_name"
          item-value="id"
          label="Template"
        ></v-select>

        <v-switch
              v-model="is_active"
              label="Published"
              color="success"
              value="1"
              hide-details
            ></v-switch>

    </v-form>
    <v-divider></v-divider>
    <v-card-actions>
      <v-btn
        text
        @click="$refs.form.reset()"
      >
        Clear
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn text color="blue darken-1" text @click="save()">Save</v-btn>          
    </v-card-actions>
    
  </v-card>
</template>


<script>
  export default {
    data: () => ({
      dialog: false,                     
      form: false,
      isLoading: false, 
      templates: [],     
      rules: {       
        required: v => !!v || 'This field is required',
      },      
      pages: [],      
      editedIndex: -1,
      page_name: '',
      page_title: '',
      page_subtitle: '',
      slug: '',
      excerpt: '',
      template: '',
      is_active: '',
      editedItem: {
        template_name: '',
        template_preview: [],
        template_wireframe: [],
        template_file: [],
      },
      defaultItem: {
        template_name: '',
        template_preview: [],
        template_wireframe: [],
        template_file: [],      
      },
      
      
      
    }),

    computed: {     
      
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        
        axios.get('/api/templates').then(response => {
            this.templates = response.data.data;
        });       

      },              


      save () {          
          let formData = new FormData();          
          formData.append('page_name', this.page_name);
          formData.append('page_title', this.page_title);
          formData.append('page_subtitle', this.page_subtitle);
          formData.append('slug', this.slug);
          formData.append('excerpt', this.excerpt);
          formData.append('template', this.template);
          formData.append('is_active', this.is_active);          
          axios.post('/api/pages', formData)
          setTimeout(() => this.initialize(), 500); 
          $refs.form.reset();       
      },      

       
    },
  }
</script>
