<template> 
  <v-container class="text-center">
        <v-toolbar flat color="grey darken-3">
        <v-toolbar-title>Pages</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>       
        
    </v-toolbar>
    
        <v-row>        
            
            <v-col cols="3" v-for="page in pages" height="213" width="213">
              

            <v-card  height="213" width="213" class="d-flex align-center"> 
                <v-col>           
                  <v-icon>mdi-file-document-box-plus-outline</v-icon>           
                  <v-list-item-title>{{ page.page_name }}</v-list-item-title>
                  
                </v-col>
            </v-card>
            <v-container style="width: 213px; margin-left: 0px; padding: 12px 0px 12px 0px;">
                    
                      <v-icon
                        small
                        class="mr-2"
                        @click="pageSections(page)"
                      >
                        mdi-table-of-contents
                      </v-icon>
                      <v-divider
                      class="mx-2"
                      vertical
                    ></v-divider>

                      <v-icon
                        small
                        class="mr-2"
                        @click="pageMedia(page)"
                      >
                        mdi-camera
                      </v-icon>
                      <v-divider
                      class="mx-2"
                      vertical
                    ></v-divider>

                      <v-icon
                        small
                        class="mr-2"
                        @click="editPage(page)"
                      >
                        edit
                      </v-icon>
                      <v-divider
                      class="mx-2"
                      vertical
                    ></v-divider>
                      <v-icon
                        small
                        @click="deletePage(page)"
                      >
                        delete
                      </v-icon>
                  
                </v-container>    
                       
            </v-col>         
            
            <v-card link to="/admin/pages/add" height="213" width="213" class="d-flex align-center" style="background: transparent; border-radius: 0px; box-shadow: none !important; margin-top: 10px;">
            <v-col style="cursor: pointer; border-style: dashed; margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" class="d-flex align-center">
              
              <div style="width: 213px;">
                        <v-icon>mdi-plus</v-icon>
                        <v-list-item-title>Add Page</v-list-item-title>
              </div>
            </v-col>
          </v-card>

        </v-row>
    

    
        
    
        
        
    </v-container>

    

  
</template>

<script>
  export default {
    data: () => ({
      dialog: false,                     
      form: false,
      isLoading: false,      
      rules: {       
        required: v => !!v || 'This field is required',
      },      
      pages: [],      
      editedIndex: -1,
      editedItem: {
        template_name: '',
        template_preview: [],
        template_wireframe: [],
        template_file: [],
      },
      defaultItem: {
        template_name: '',
        template_preview: [],
        template_wireframe: [],
        template_file: [],      
      },
      
      
      
    }),

    computed: {

      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      
      },
      
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        
        axios.get('/api/pages').then(response => {
            this.pages = response.data.data;
        });       

      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      pageSections(page) {
        this.$router.push("/admin/pages/sections/"+page.slug)
      },

      pageMedia(page) {
        this.$router.push("/admin/pages/media/"+page.slug)
      },
       

      editPage (page) {
        this.$router.push("/admin/pages/edit/"+page.slug)
      },    

      save () {
        if (this.editedIndex > -1) { 
          Object.assign(this.templates[this.editedIndex], this.editedItem)       
          axios.post('/api/templates/'+this.editedItem.id,{name:this.editedItem.template_name, preview:this.editedItem.template_preview, wireframe:this.editedItem.template_wireframe, template_file:this.editedItem.template_file, _method: 'patch'
         })
          setTimeout(() => this.initialize(), 500);         
        } else {
          this.templates.push(this.editedItem)
          let formData = new FormData();          
          formData.append('name', this.editedItem.template_name);
          formData.append('preview', this.editedItem.template_preview);
          formData.append('wireframe', this.editedItem.template_wireframe);
          formData.append('template_file', this.editedItem.template_file);
          let settings = { headers: { 'content-type': 'multipart/form-data' } };
          axios.post('/api/templates', formData, settings)
          setTimeout(() => this.initialize(), 500);
        }
        this.close()
      },      

       
    },
  }
</script>
