<template>
  <v-card
    class="mx-auto"
    style="max-width: 900%;"
    
  >
    
    <v-toolbar
      color="deep-purple accent-4"
      cards
      dark
      flat
    >      
      <v-card-title class="title font-weight-regular">Edit Page</v-card-title>
      <v-spacer></v-spacer>     
    </v-toolbar> 
       
    
    <v-form
      ref="form"
      v-model="form"
      class="pa-4 pt-6"      
    >    
      
      <v-text-field
        v-model="pages[0].page_name"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Page Name"
        style="min-height: 96px"        
      ></v-text-field>      

      <v-text-field
        v-model="pages[0].page_title"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Page Title"
        style="min-height: 96px"        
      ></v-text-field>

      <v-text-field
        v-model="pages[0].page_subtitle"                
        filled
        color="deep-purple"
        label="Page Subtitle"
        style="min-height: 96px"        
      ></v-text-field>

      <v-text-field
        v-model="pages[0].slug"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Slug"
        style="min-height: 96px"        
      ></v-text-field>

      <v-textarea
        v-model="pages[0].excerpt"
        :rules="[rules.required]"
        auto-grow
        filled
        color="deep-purple"
        label="Excerpt"
        rows="3"
      ></v-textarea>

      <v-select
          v-model="pages[0].template_id"
          :items="templates"
          item-text="template_name"
          item-value="id"
          label="Template"
        ></v-select>

        <v-switch
              v-model="pages[0].is_active"
              label="Published"
              color="success"
              true-value="1"
              hide-details
            ></v-switch>

    </v-form>
    <v-divider></v-divider>
    <v-card-actions>
      <v-btn
        text
        @click="$refs.form.reset()"
      >
        Clear
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn text color="blue darken-1" text @click="save()">Save</v-btn>          
    </v-card-actions>
    
  </v-card>
</template>


<script>
  export default {
    data: () => ({
      dialog: false,                     
      form: false,
      isLoading: false, 
      templates: [],     
      rules: {       
        required: v => !!v || 'This field is required',
      },      
      pages: [],      
      editedIndex: -1,   
      
    }),

    computed: {     
      
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {

        axios.get('/api/templates').then(response => {
            this.templates = response.data.data;
        });
        
        axios.get('/api/pages/edit/'+this.$route.params.slug).then(response => {
            this.pages = response.data.data;
        });       

      },              


      save () {          
          axios.post('/api/pages/'+this.pages[0].id,{page_name:this.pages[0].page_name, page_title:this.pages[0].page_title, page_subtitle:this.pages[0].page_subtitle, slug:this.pages[0].slug, excerpt:this.pages[0].excerpt, template_id:this.pages[0].template_id, is_active:this.pages[0].is_active,   _method: 'patch'
         })    
        setTimeout(() => this.initialize(), 1000);       
      },      

       
    },
  }
</script>