<template>  
  <v-container class="text-center">  

    <v-card
    class="mx-auto"
    style="max-width: 900%;"
    
    >
    
    <v-toolbar
      color="deep-purple accent-4"
      cards
      dark
      flat      
    >      
      <v-card-title class="title font-weight-regular" v-for="seasonal in seasonals">Edit Sesonal Event | {{ seasonal.seasonal_title }}</v-card-title>
      <v-spacer></v-spacer>     
    </v-toolbar> 
    <br>    

    <v-form
      ref="form"
      v-model="form"
      class="pa-4 pt-6" 
           
    >

    <v-text-field
        v-model="seasonal_title"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Seasonal Title"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-textarea
        v-model="seasonal_excerpt"
        :rules="[rules.required]"
        auto-grow
        filled
        color="deep-purple"
        label="Seasonal Details"
        rows="5"
      ></v-textarea>  

      <v-text-field
        v-model="seasonal_slug"
        :rules="[rules.required]"        
        filled
        color="deep-purple"
        label="Event Slug"
        style="min-height: 96px"        
      ></v-text-field> 

      <v-select
          v-model="event_day"
          :items="days"
          label="Event Day"
          filled
          item-text="day_name"
          item-value="day_no"
          style="min-height: 96px"          
    ></v-select>   

      
    <v-menu
      v-model="fromDateMenu"
      :close-on-content-click="false"
      :nudge-right="40"      
      transition="scale-transition"
      offset-y      
      max-width="290px"
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field     
          v-model="computedFromDateFormatted"     
          label="Display From Date"
          prepend-icon="event"
          readonly          
          :value="fromDateDisp"
          v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker        
        locale="en-gb"        
        v-model="from_date"
        no-title
        @input="fromDateMenu = false; computedFromDateFormatted"                    
      ></v-date-picker>
    </v-menu>

    
    <v-menu
      v-model="toDateMenu"
      :close-on-content-click="false"
      :nudge-right="40"      
      transition="scale-transition"
      offset-y      
      max-width="290px"
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          v-model="computedToDateFormatted"
          label="Display To Date"
          prepend-icon="event"
          readonly          
          :value="toDateDisp"
          v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker        
        locale="en-gb"        
        v-model="to_date"
        no-title
        @input="toDateMenu = false"
      ></v-date-picker>
    </v-menu>      

    <v-menu
        ref="start_menu"
        v-model="start_time_menu"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="start_time"
        transition="scale-transition"
        offset-y
        max-width="290px"
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="start_time"
            label="Start Time"
            prepend-icon="access_time"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-time-picker
          v-if="start_time_menu"
          v-model="start_time"
          full-width
          @click:minute="$refs.start_menu.save(start_time)"
        ></v-time-picker>
      </v-menu>

      <v-menu
        ref="end_menu"
        v-model="end_time_menu"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="end_time"
        transition="scale-transition"
        offset-y
        max-width="290px"
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="end_time"
            label="End Time"
            prepend-icon="access_time"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-time-picker
          v-if="end_time_menu"
          v-model="end_time"
          full-width
          @click:minute="$refs.end_menu.save(end_time)"
        ></v-time-picker>
      </v-menu>     

      </v-form>
    <v-divider></v-divider>
    <v-card-actions>
      <v-btn
        text
        @click="$refs.form.reset()"
      >
        Clear
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn text color="blue darken-1" text @click="save()">Save Text Edits</v-btn>          
    </v-card-actions> 
    </v-card> 

    <v-toolbar
      color="deep-purple accent-4"
      cards
      style="margin-top: 25px"
      
    >      
      <v-card-title class="title font-weight-regular" >Add New | Event Media</v-card-title>
      <v-spacer></v-spacer>     
    </v-toolbar> 

        <v-form
              ref="form"
              v-model="form"
              class="pa-4 pt-6"      
            >

            <v-col cols="12">
              <v-select
                v-model="banner_type"
                :rules="[rules.required]"        
                filled
                color="deep-purple"
                label="Banner Type"
                :items="banners"
                style="min-height: 96px"        
              ></v-select>
            </v-col>   

            <v-col cols="12">

            <div class="text-center">
              <v-btn color="blue darken-1"  x-large @click="openFileManager">Choose Images</v-btn>        
            </div>

            </v-col>
            <v-col cols="12">


            <v-row v-if="medias.length !== 0">
              <v-col cols="12">
                  <v-toolbar flat color="deep-purple accent-4">
                    <v-toolbar-title>New Media</v-toolbar-title>
                  </v-toolbar>
              </v-col>
              <v-col cols="12" md="3" v-for="(media, key) in medias">
              
              <v-col cols="12">             
              <v-img class="mt-3" :src="media.url"> </v-img>  
              </v-col>
              <v-col cols="12"> 
              <v-text-field
                v-model="media_title[parseInt( key )]"
                :rules="[rules.required]"        
                filled
                color="deep-purple"
                label="Media Title"
                style="min-height: 96px"        
              ></v-text-field>
              </v-col>

              </v-col> 
              <v-col cols="12" md="12">
                <div class="text-center">
                  <v-btn color="blue darken-1"  x-large @click="saveImages()">Save Event</v-btn>        
                </div> 
              </v-col>
            </v-row> 

            <div v-if="seasonalbanners.length !== 0">
              <v-toolbar flat color="deep-purple accent-4">
              <v-toolbar-title>Current Media</v-toolbar-title>
            </v-toolbar>
              <v-row v-for="event in seasonalbanners">
              <v-col cols="12" md="3" v-for="(img, key) in event.banner_media">
              
              <v-col cols="12">       

              <v-img v-if="event.banner_type !== 'Video'" height="200px" contain class="mt-3" :src="img.media"> </v-img> 
              <v-card v-else class="d-flex align-center" height="200px" style="margin-bottom: 10px;"> 
                <v-col>           
                  <v-icon>mdi-video</v-icon>            
                  <v-list-item-title>Video</v-list-item-title>
                </v-col>
            </v-card> 
               
              <v-text-field                
                v-model="img.title"                             
                solo
                color="deep-purple"
                disabled
                style="min-height: 96px"        
              ></v-text-field>
              <div class="text-center">
                  <v-btn color="red darken-1"  @click="deleteImage(img)">Delete Media</v-btn>        
              </div>

              </v-col>

              </v-col> 
              
            </v-row>

            </div> 


            
            </v-col>       
            
            

            </v-form>
          </v-container>


  
</template>

<script>
  export default {
    props: {      
      user: Object,          
    },
    data: () => ({                           
       
      form: false,
      isLoading: false,         
      showPreview: false,
      showImagePreview: false,
      showMainPreview: false,
      mainImagePreview: '',
      deleteMethod: '',
      imagePreview: '',
      logoPreview: '',
      title: '', 
      mainTitle: '',        
      events: [],
      seasonals: [],           
      seasonal_title: '',
      seasonal_excerpt: '',
      seasonal_slug: '',
      event_day: '',
      image_title: [],
      files: [],
      selectedFile: [],
      video: false,
      video_seen: false,
      single: false,
      carousel: false,
      event: '',      
      rules: {       
        required: v => !!v || 'This field is required',
      },      
      editedIndex: -1,
      fromDateMenu: false,  
      toDateMenu: false,  
      to_date: '',  
      from_date: '', 
      fromDateMenu: false,  
      toDateMenu: false,
      eventDateMenu: false,        
      event_date: '',
      start_time: null,
      start_time_menu: false,
      start_time_modal2: false,
      end_time: null,
      end_time_menu: false,
      end_time_modal2: false,
      days: [
          {
            day_no: 1,
            day_name: 'MONDAY'
          },
          {
            day_no: 2,
            day_name: 'TUESDAY'
          },
          {
            day_no: 3,
            day_name: 'WEDNESDAY'
          },   
          {
            day_no: 4,
            day_name: 'THURSDAY'
          },   
          {
            day_no: 5,
            day_name: 'FRIDAY'
          },  
          {
            day_no: 6,
            day_name: 'SATURDAY'
          }, 
          {
            day_no: 7,
            day_name: 'SUNDAY'
          },
        ],  
      banners: [
      'Single Image',
      'Carousel Image',
      'Video',
      ],               
      medias: [],
      media_title: [],
      edited_media_title: [],
      seasonalbanners: [],
      banner_type: '',       
          
      
    }),

    computed: {
      
      fromDateDisp() {
        return this.from_date;
      },

      toDateDisp() {
        return this.to_date;
      },

      computedFromDateFormatted () {
        return this.formatDate(this.from_date)
      },

      computedToDateFormatted () {
        return this.formatDate(this.to_date)
      },      
            
    },

    watch: {
      dialog (val) {
        val || this.close()
      },

      
      
    },

    created () {
      this.initialize()

    },         

    methods: {
      initialize () {       

        var myVar = this;

        axios.get('/api/seasonalevents/edit/'+this.$route.params.id).then(response => {
            myVar.seasonals = response.data.data;            
            myVar.seasonal_title = response.data.data[0].seasonal_title;
            myVar.seasonal_excerpt = response.data.data[0].seasonal_excerpt;
            myVar.seasonal_slug = response.data.data[0].seasonal_slug; 
            myVar.event_day = response.data.data[0].event_day;
            myVar.event_date = response.data.data[0].event_date;
            myVar.from_date = response.data.data[0].display_from;
            myVar.to_date = response.data.data[0].display_until;  
            myVar.start_time = response.data.data[0].start_time;
            myVar.end_time = response.data.data[0].end_time;
        });

        axios.get('/api/seasonalbanners/GetBanner/'+this.$route.params.id).then(response => {
            myVar.seasonalbanners = response.data.data;     
            myVar.banner_type = response.data.data[0].banner_type;       
            
        });

      },      
        

      formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${day} / ${month} / ${year}`
      },  

      openFileManager () {
        window.open(`/filemanager`, 'width=900,height=600')
        var self = this
        window.SetUrl = function (items) {
          
          self.medias = items;
          
        }
        return false
      },      

      saveImages() {       

        let formData = new FormData(); 

        for( var i = 0; i < this.medias.length; i++ ){
          let file = this.medias[i].url;
          let title = this.media_title[i];

          formData.append('media[' + i + ']', file);
          formData.append('title[' + i + ']', title);
        }
        formData.append('seasonal_events_id', this.seasonals[0].id);
        formData.append('banner_type', this.banner_type);

        if (this.seasonalbanners.length > -0) {
          formData.append('isEdited', 'yes');
        }
        else{
          formData.append('isEdited', 'no');
        }
                      
        
        axios.post('/api/seasonalbanners', formData)        
        
        setTimeout(() => this.initialize(), 3000); 

        this.medias = [];

      
         
      },

      deleteImage(img) {
        confirm('Are you sure you want to delete this item?')
        let formData = new FormData();       

        axios.post('/api/media/'+img.id,{type:'SeasonalEventBanner', _method: 'delete'}).then(response=>console.log(response.data));

        setTimeout(() => this.initialize(), 1000);
      },   

      save () {  
          let formData = new FormData(); 

          formData.append('seasonal_title', this.seasonal_title);
          formData.append('seasonal_excerpt', this.seasonal_excerpt);
          formData.append('seasonal_slug', this.seasonal_slug); 
          formData.append('event_day', this.event_day);
          formData.append('event_date', this.event_date);
          formData.append('from_date', this.from_date);
          formData.append('to_date', this.to_date);  
          formData.append('start_time', this.start_time);
          formData.append('end_time', this.end_time);                
          formData.append('created_by', this.user.id);
          formData.append("_method", "patch");

          let settings = { headers: {'_method': 'patch' } };

          axios.post('/api/seasonalevents/'+this.seasonals[0].id, formData)    
      setTimeout(() => this.initialize(), 2000);       
      },       
      

       
    },


  }
</script>
