<template> 

  <v-container fluid class="text-center" style="margin: 0px; max-width: 100vw; padding: 0px;">
    <v-container style="height: 75vh; margin: 0px; max-width: 100vw; padding: 0px;" v-for="event in seasonals" >
      <div v-for="(banner, index) in event.seasonal_banner">

        <v-row v-if="banner.banner_type == 'Single Image' && banner.banner_type !== 'Video'">
          <div v-for="(banner, index) in banner.banner_media">
          <v-img          
          
          height="75vh"
          :src="banner.media"
          style="margin-left: 0px; margin-right: 0px; width: 100vw; padding-left: 0px; padding-right: 0px;"
          >
          <div class="darkening-overlay">
          </div>
          <div class="whatson-overlay">
            <h1>{{ event.event_title }}</h1>
          </div>
          </v-img>
          </div>
        </v-row>
      
        

        <v-row v-if="banner.banner_type == 'Carousel Image' && banner.banner_type !== 'Video'">

          <v-carousel          
          :show-arrows="true" 
          cycle 
          height="75vh"
          hide-delimiters 
          style="margin-left: 0px; margin-right: 0px; width: 100vw; padding-left: 0px; padding-right: 0px;"
          >
          <div class="darkening-overlay">
          </div>
          <div class="whatson-overlay">
            <h1>{{ event.event_title }}</h1>
          </div>
          <div v-for="(banner, index) in event.seasonal_banner">
            <v-carousel-item
              v-for="(item,i) in banner.banner_media"              
              :key="i"
              :src="item.media"
            >
            </v-carousel-item>
          </div>
          
          
          </v-carousel>
        </v-row>
      

        
      
        <v-row v-if="banner.banner_type == 'Video'">
          
          <v-container style="margin: 0px; padding: 0px; max-width: 100vw; height: 75vh; overflow: hidden;">
            <div class="darkening-overlay" style="height: 75vh;">
          
          <div class="whatson-overlay">
            <h1>{{ event.event_title }}</h1>
          </div> 
          </div>
          
          
          <VueVideo v-for="(item,i) in banner.banner_media" v-if="i == 1" :src="item.media" autoplay="false" controls="false" loop="true">
          
          </VueVideo>
          
          
          </v-container>
                   
        </v-row>


      </div>

    </v-container>
    


    <v-container>
      <v-row v-for="seasonal in seasonals">

        <v-col cols="12" md="12">
        <v-card 
        class="d-inline-block mx-auto"
        outlined 
        tile
        width="100%"
        style="background-color: transparent; border: none;"
        >
          <v-container>
            <v-row justify="space-between">
              <v-col
                cols="6"
                class="text-center pl-0"
              >
                <v-row
                  class="flex-column ma-0 fill-height"
                  justify="center"
                >
                  <v-card-title><h1>{{ seasonal.seasonal_title }}</h1></v-card-title>               

                <v-card-text class="text--primary" style="text-align: left;">
                  {{ seasonal.seasonal_excerpt }}
                </v-card-text>

                <v-card-actions>
                    <v-form>
                      <v-row>
                        <v-col cols="12" class="text-left">
                          ENQUIRY EMAIL FORM
                        </v-col>
                        <v-col cols="12" style="padding: 0px 12px;">
                        <v-text-field
                          label="Name"
                          outlined
                          tile
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" style="padding: 0px 12px;">
                        <v-text-field
                          label="Email"
                          outlined
                          tile
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" style="padding: 0px 12px;">
                        <v-textarea
                        outlined
                        tile
                        name="Details"
                        label="Details"
                        
                      ></v-textarea>
                      </v-col>
                      <v-col cols="12" style="padding: 0px 12px;">
                        <v-checkbox
                         v-model="mailinglist"
                         label="Add me to your mailing list"
                         color="primary"
                         ></v-checkbox>
                      </v-col>
                      <v-col cols="12" style="padding: 0px 12px; text-align: left;">
                        <v-btn
                          color="orange"
                          outlined
                          tile
                        >
                          SUBMIT
                        </v-btn>
                      </v-col>
                      </v-row>
                    </v-form>
                  

                  
                </v-card-actions>


                </v-row>
              </v-col>
              <v-col cols="6">
                
                <v-img
                  style="margin-left: auto;"
                  height="500"
                  width="500"
                  src="/storage/Assets/sample1.jpg"
                ></v-img>
              
              </v-col>

              
            </v-row>
          </v-container>
        </v-card>
      </v-col>
      </v-row>

    </v-container>

    
        </div>
        
    </v-container>   

  
</template>

<script>
  export default {
    data: () => ({           
      seasonals: [], 
      null: null, 
      items: [
          {
            src: '/storage/Assets/sample1.jpg',
          },
          {
            src: '/storage/Assets/sample2.jpg',
          },
          {
            src: '/storage/Assets/sample3.jpeg',
          },          
        ],    
    }),

    computed: {

      
      
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {        

        axios.get('/api/seasonalevents/seasonaldisplay/'+this.$route.params.slug).then(response => {
            this.seasonals = response.data.data;
        });        

      }, 
       
    },
  }
</script>
<style>

.display-3 {
  
  display: inline-block; 
  margin: 0 auto;
}

.v-window__next {
  right: 3vw;
}

.v-window__prev {
  left: 3vw;
}

.whatson-overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100px;
  top: 45%;
  left: 0;
  right: 0;
  bottom: 0;   
  z-index: 2;
  color: white;
}
</style>
