<template> 
  <v-container class="text-center">
        <v-toolbar flat color="grey darken-3">
        <v-toolbar-title>Templates</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>       
        
    </v-toolbar>
    
        <v-row>        
            
            <v-col cols="3" v-for="template in templates" height="213" width="213">
              

            <v-card  height="213" width="213"> 
                <v-col>           
                  <v-img :src="'/'+template.template_preview" width="200"></v-img>            
                  <v-list-item-title>{{ template.template_name }}</v-list-item-title>
                  
                </v-col>
            </v-card>
            <v-container style="width: 213px; margin-left: 0px; padding: 12px 0px 12px 0px;">
                    
                      <v-icon
                        small
                        class="mr-2"
                        @click="editTemplate(template)"
                      >
                        edit
                      </v-icon>
                      <v-divider
                      class="mx-4"
                      vertical
                    ></v-divider>
                      <v-icon
                        small
                        @click="deleteTemplate(template)"
                      >
                        delete
                      </v-icon>
                  
                </v-container>    
                       
            </v-col>
          
            <v-dialog v-model="dialog" max-width="500px">          
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="12" md="12">
                    <v-text-field v-model="editedItem.template_name" label="Template Name"></v-text-field>
                  </v-col>    

                  <v-col cols="12" sm="12" md="12">
                    <v-file-input v-model="editedItem.template_preview" label="Template Preview Image"></v-file-input>
                  </v-col> 

                  <v-col cols="12" sm="12" md="12">
                    <v-file-input v-model="editedItem.template_wireframe" label="Template Wireframe Image"></v-file-input>
                  </v-col> 

                  <v-col cols="12" sm="12" md="12">
                    <v-file-input v-model="editedItem.template_file" label="Template File"></v-file-input>
                  </v-col>               
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

            <v-col style="cursor: pointer; border-style: dashed; margin: 10px; padding: 0px; max-width: 213px; width: 213px; max-height: 213px; height: 213px" cols="3" class="d-flex align-center" @click="openTemplateDialog()">
              
              <div style="width: 213px;">
                        <v-icon>mdi-plus</v-icon>
                        <v-list-item-title>Add Template</v-list-item-title>
              </div>
            </v-col>

        </v-row>
    

    
        
    
        
        
    </v-container>

    

  
</template>

<script>
  export default {
    data: () => ({
      dialog: false,                     
      form: false,
      isLoading: false,      
      rules: {       
        required: v => !!v || 'This field is required',
      },      
      templates: [],      
      editedIndex: -1,
      editedItem: {
        template_name: '',
        template_preview: [],
        template_wireframe: [],
        template_file: [],
      },
      defaultItem: {
        template_name: '',
        template_preview: [],
        template_wireframe: [],
        template_file: [],      
      },
      
      
      
    }),

    computed: {

      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      
      },
      
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        
        axios.get('/api/templates').then(response => {
            this.templates = response.data.data;
        });       

      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      openTemplateDialog () {
        this.dialog = true        
      }, 

      editTemplate (template) {
        this.editedIndex = this.templates.indexOf(template)
        this.editedItem = Object.assign({}, template)
        this.dialog = true
      },     

      deleteTemplate(template) {
        const index = this.templates.indexOf(template)
        confirm('Are you sure you want to delete this item?') && this.templates.splice(index, 1)
        axios.delete('/api/templates/'+template.id)
      },         


      save () {
        if (this.editedIndex > -1) { 
          Object.assign(this.templates[this.editedIndex], this.editedItem)       
          axios.post('/api/templates/'+this.editedItem.id,{name:this.editedItem.template_name, preview:this.editedItem.template_preview, wireframe:this.editedItem.template_wireframe, template_file:this.editedItem.template_file, _method: 'patch'
         })
          setTimeout(() => this.initialize(), 500);         
        } else {
          this.templates.push(this.editedItem)
          let formData = new FormData();          
          formData.append('name', this.editedItem.template_name);
          formData.append('preview', this.editedItem.template_preview);
          formData.append('wireframe', this.editedItem.template_wireframe);
          formData.append('template_file', this.editedItem.template_file);
          let settings = { headers: { 'content-type': 'multipart/form-data' } };
          axios.post('/api/templates', formData, settings)
          setTimeout(() => this.initialize(), 500);
        }
        this.close()
      },      

       
    },
  }
</script>
