<template>
  <v-data-table
    :headers="headers"
    :items="tableData"    
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat color="deep-purple accent-4">
        <v-toolbar-title>User Management</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">New User</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text style="background-color: black; color: white;">
              <v-container>
                <v-row>
                  <v-col cols="12" >
                    <v-text-field v-model="editedItem.name" label="Name"></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field v-model="editedItem.email" label="Email"></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field v-model="editedItem.password" label="Password"></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field v-model="editedItem.confirm_password" label="Confirm Password"></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-select v-model="editedItem.role" :items="allRoles" label="Roles" item-text="name" return-object chips></v-select>
                  </v-col>
                  <v-col cols="12">
                    <v-select v-model="editedItem.permissions" :items="allPermissions" label="Permissions" item-text="name" return-object chips multiple></v-select>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.action="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        edit
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Reset</v-btn>
    </template>
  </v-data-table>
</template>

<script>
  export default {
    data: () => ({
      dialog: false,      
      headers: [
        { text: 'Username', value: 'name' },
        { text: 'Email', value: 'email' },
        { text: 'Role', value: 'role.name' },
        { text: 'Created', value: 'created_at' },        
        { text: 'Actions', value: 'action', sortable: false },
      ],
      tableData: [],
      allRoles: [],
      allPermissions: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        email: '',
        role: {},
        permissions: [],
        created_at: '',
      },
      defaultItem: {
        name: '',
        email: '',
        role: {},
        permissions: [],
        created_at: '',
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New User' : 'Edit User'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {        

        axios.get('/api/users').then(response => {
            this.tableData = response.data.data;            
        });

        axios.get('/api/roles').then(response => {
            this.allRoles = response.data.data;            
        });

        axios.get('/api/permissions').then(response => {
            this.allPermissions = response.data.data;            
        });
      },

      editItem (item) {
        this.editedIndex = this.tableData.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.tableData.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.tableData.splice(index, 1)
        axios.delete('/api/users/'+index).then(response=>console.log(response.data));
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {

          Object.assign(this.tableData[this.editedIndex], this.editedItem)
          axios.put('/api/users/'+this.editedItem.id,this.editedItem).then(response=>console.log(response.data));

        } else {

          this.tableData.push(this.editedItem)
          axios.post('/api/users',this.editedItem).then(response=>console.log(response.data));

        }
        this.close()
      },
    },
  }
</script>