<template> 

  <v-container fluid class="text-center" style="margin: 0px; max-width: 100vw; padding: 0px;">
    <v-container>
    
    <h1>What's On?</h1>
    
    </v-container>


    <v-container>
      <v-row v-for="event in events">

        <v-col cols="12" md="12">
        <v-card 
        class="d-inline-block mx-auto"
        outlined 
        tile
        width="100%"
        style="background-color: transparent;"
        >
          <v-container style="padding: 0 0 0 0px">
            <v-row justify="space-between"> 
              <v-col cols="12" md="4" style="padding: 0px; margin-top: auto; margin-bottom: auto;">
                <div v-for="(banner, index) in event.events_banner" v-if="index <= 1"> 

                <v-img
                  v-for="(media, index) in banner.banner_media"
                  v-if="index <= 1"
                  width="100%"
                  :src="media.media"
                ></v-img>       
                </div>
              </v-col>

              <v-col
                cols="12" md="8"
                class="text-center"
                style="padding: 0px;"
              >
                <v-row
                  class="flex-column fill-height"
                  justify="center"

                >
                  <v-card-title class="text-left"><h1>{{ event.event_title }}</h1></v-card-title>               

                <v-card-text class="text--primary" style="text-align: left;">
                  {{ event.event_excerpt }}
                </v-card-text>

                <v-card-actions>

                    <v-row>
                      <v-col cols="12" md="6">
                        <div class="light-button">
                        <v-btn
                          color="orange"
                          outlined
                          tile
                          :to="/whats-on/+event.event_slug"
                          
                        >
                          <div v-for="day in days">
                            <div v-if="day.day_no == event.event_day">
                              MORE {{ day.day_name }}
                            </div>
                          </div>   
                        </v-btn>
                        </div>
                      </v-col>
                    <v-col cols="12" md="6">
                  
                  <div class="light-orange-button">
                  <v-btn
                    color="#f47c30"
                    outlined
                    tile                    
                  >
                    EVENTS & LAUNCHES
                  </v-btn>
                  </div>
                </v-col>
              </v-row>

                  
                </v-card-actions>


                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
      </v-row>

    
    </v-container>
    <div v-if="seasonals.length > 0">
      <v-container style="max-width: 96vw; padding: 0px;" class="bamboo">
        
      </v-container>
      

    <v-container class="text-left">
    
    <h1>Events & Launches</h1>
    
    </v-container>


    <v-container>
      <v-row v-for="seasonal in seasonals">

        <v-col cols="12" md="12">
        <v-card 
        class="d-inline-block mx-auto"
        outlined 
        tile
        width="100%"
        style="background-color: transparent;"
        >
          <v-container style="padding: 0 0 0 0px">
            <v-row justify="space-between">
              
              <v-col cols="12" md="4" style="padding: 0px; margin-top: auto; margin-bottom: auto;">
                <div v-for="(banner, index) in seasonal.seasonal_banner" v-if="index <= 1"> 

                <v-img
                  v-for="(media, index) in banner.banner_media"
                  v-if="index <= 1"
                  width="100%"
                  :src="media.media"
                ></v-img>       
                </div>
              </v-col>
            

              <v-col
                cols="12" md="8"
                class="text-center"
              >
                <v-row
                  class="flex-column fill-height"
                  justify="center"
                >
                  <v-card-title><h1>{{ seasonal.seasonal_title }}</h1></v-card-title>               

                <v-card-text class="text--primary" style="text-align: left;">
                  {{ seasonal.seasonal_excerpt }}
                </v-card-text>

                <v-card-actions>
                  <div class="light-button">
                  <v-btn
                    color="orange"
                    outlined 
                    tile
                    :to="/seasonal-event/+seasonal.seasonal_slug"                   
                  >
                    MORE INFO
                  </v-btn>
                  <div v-if="seasonal.p_d_f.length != 0" v-for="pdf in seasonal.p_d_f">
                    <v-btn
                    color="#111111"
                    outlined
                    tile
                    large
                    target="_blank"
                    :href="pdf.PDF_file"
                  >
                    {{ seasonal.seasonal_title }} - Menu   
                  </v-btn>
                  </div>
                  </div>

                  
                </v-card-actions>


                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
      </v-row>

    </v-container>
  </div>

    

    
        
        
    </v-container>   

  
</template>

<script>
  export default {
    data: () => ({           
      null: null, 
      events: [],
      seasonals: [],
      items: [
          {
            src: '/storage/Assets/sample1.jpg',
          },
          {
            src: '/storage/Assets/sample2.jpg',
          },
          {
            src: '/storage/Assets/sample3.jpeg',
          },          
        ],    
      days: [
          {
            day_no: 1,
            day_name: 'MONDAY'
          },
          {
            day_no: 2,
            day_name: 'TUESDAY'
          },
          {
            day_no: 3,
            day_name: 'WEDNESDAY'
          },   
          {
            day_no: 4,
            day_name: 'THURSDAY'
          },   
          {
            day_no: 5,
            day_name: 'FRIDAY'
          },  
          {
            day_no: 6,
            day_name: 'SATURDAY'
          }, 
          {
            day_no: 7,
            day_name: 'SUNDAY'
          },
        ],    
    }),

    computed: {

      
      
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {        

        axios.get('/api/events/eventsummary').then(response => {
            this.events = response.data.data;
        }); 

        axios.get('/api/seasonalevents/seasonalsummary').then(response => {
            this.seasonals = response.data.data;
        });       

      },  

    },
  }
</script>
<style>

.display-3 {
  
  display: inline-block; 
  margin: 0 auto;
}

.v-window__next {
  right: 3vw;
}

.v-window__prev {
  left: 3vw;
}

.whatson-overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100px;
  top: 45%;
  left: 0;
  right: 0;
  bottom: 0;   
  z-index: 2;
  color: white;
}

.bamboo {
  border-bottom: 40px solid transparent;
  padding: 15px;
  border-image: url("/storage/Assets/bamboo.png") 1000 round;

}

.light-orange-button {
  margin-left: 20px;
}

@media all and (max-width: 480px) {

  .light-orange-button {
      margin-left: 0px;
    }
}
</style>
