<template>
<div>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >
      <v-list dense>
        
        
          <v-list-item link to="/admin">
            <v-list-item-action >
              <v-icon>mdi-view-dashboard</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Dashboard</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-group no-action>
            <v-list-item slot="activator" style="padding-left: 0px;">
              <v-list-item-action >
                <v-icon>account_circle</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>User Management</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item to="/admin/users">
              <v-list-item-action>
                <v-icon>account_circle</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>Users</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item to="/admin/roles">
              <v-list-item-action>
                <v-icon>account_circle</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>Roles</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item to="/admin/permissions">
              <v-list-item-action>
                <v-icon>account_circle</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>Permissions</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>


          <v-list-item link to="/admin/homepage-edit">
            <v-list-item-action >
              <v-icon>mdi-home</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Homepage Edit</v-list-item-title>
            </v-list-item-content>
          </v-list-item> 


          <div v-if="$can('Manage Events')">
          <v-list-item link to="/admin/events">
            <v-list-item-action >
              <v-icon>mdi-calendar-multiple</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Events</v-list-item-title>
            </v-list-item-content>
          </v-list-item>   
          </div>


          <v-list-item link to="/admin/seasonalevents">
            <v-list-item-action >
              <v-icon>mdi-pine-tree</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Seasonal Events</v-list-item-title>
            </v-list-item-content>
          </v-list-item>      

          <v-list-item link to="/admin/pages">
            <v-list-item-action >
              <v-icon>mdi-file-document-box-plus-outline</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Pages</v-list-item-title>
            </v-list-item-content>
          </v-list-item>         

          <v-list-item link to="/admin/contact-info">
            <v-list-item-action >
              <v-icon>mdi-contact-phone</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Contact Info</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item link to="/admin/medialibrary">
            <v-list-item-action >
              <v-icon>mdi-folder-multiple-image</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Media Library</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          
        

          
                
     </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>Mahiki - Admin - Welcome {{ this.user.name }}</v-toolbar-title>
      
       <v-spacer></v-spacer>
        <v-btn text href="#" @click.prevent="logout()">Logout</v-btn>
    

                                    
    </v-app-bar>

    <v-content>
      <v-container
        
        fluid
      >
        <router-view :user="user"></router-view>
      </v-container>
    </v-content>

    <v-footer app>
      
    </v-footer>
  </v-app>
  </div>
</template>

<script>
  export default {
    props: {
      source: String,
      user: Object,          
    },

    data: () => ({
      drawer: null,  
      main_image: '',    
      userRoles: [],    
    }),
    created () {
      this.$vuetify.theme.dark = true
      this.initialize();
    },

    methods: {
      initialize() {
        axios.get('/api/users/permissions/'+this.user.id).then(response => {
          this.userRoles = response.data.data;
        });
        
      },

      openFileManager () {
        window.open(`/laravel-filemanager`, 'width=900,height=600')
        var self = this
        window.SetUrl = function (items) {
          self.main_image = items[0].url
        }
        return false
      },

      logout() {
                axios.post('/logout')
                    .catch(error => {
                       window.location.href = '/login';
                    });
      },
    },
    
  }
</script>

