<template>
  <div class="background" data-app> 

  <v-row class="mahiki-header">
    <v-container style="max-width: 100vw; width: 100vw;">
    <v-col cols="12" class="logo-bar" id="logo-bar-div">
    <v-row 
    align="center"
    justify="center"  

    >
      

        <v-col cols="4" class="text-left table-button" style="margin-bottom: 40px; padding: 0;" >
          
          
          <div class="dark-button">
          <v-btn class="ma-2 bold" outlined tile large color="#f47c30" to="/book-a-table">
           Book a table
          </v-btn>
          </div>
          
          
          
        </v-col>

        <v-col cols="4" style="padding: 0;" class="logo-image">
          <v-btn to="/" icon block style="color: rgba(0,0,0,0);">
          <v-img     
          id="header-logo-img"     
          src="/storage/Assets/mahiki-London.png"
          contain
          max-width="25vw"
          

          
        ></v-img>
        </v-btn>
        </v-col>

        <v-col cols="4" class="text-right party-button" style="margin-bottom: 40px; padding: 0;" >
          
          <div class="dark-button">
          <v-btn class="ma-2 bold" outlined tile large color="#f47c30" to="/enquiry">
            Private Party
          </v-btn>
          </div>
          
        </v-col>
      </v-row>
    </v-col>



    <v-col cols="12" style="padding: 0px;">  
      <v-app-bar      
      color="#111111"
      elevation="0"
      flat
      height="45px"
      fixed
      id="nav-app-bar"
    >
    <div class="d-none d-lg-block">             
        
          <v-btn v-for="item in menu" class="ma-2" text color="#f47c30" :to="item.to" :target="item.target" style="letter-spacing: 0.3em !important; padding: 0 24px;">
            {{ item.title }}
          </v-btn>         
            
    </div>

    <div class="d-lg-none">
    <v-menu
        id="header-menu"
        min-width="100vw"
        max-width="100vw"

        bottom
        offset-y
        z-index="1000"        
        class="nav-menu"
      >
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-app-bar-nav-icon color="#f47c30"></v-app-bar-nav-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item
            v-for="item in menu"            
            @click="() => {}"
          >
            <v-list-item-title color="#f47c30" ><v-btn text color="#f47c30" :to="item.to">
            {{ item.title }}
          </v-btn> </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
    </v-app-bar>
    </v-col>
    </v-container>
  </v-row> 

  



 
 <v-content>
      <v-container
        style="margin: 0px; max-width: 100vw; padding: 20px 0px 0px 0px;"
        fluid
      >
        <router-view :key="$route.path"></router-view>
      </v-container>
  </v-content>





<v-footer class="mahiki-footer" style="padding-left: 0px; padding-right: 0px; padding-top: 0px;">
  <v-container style="margin-left: 0px; margin-right: 0px; max-width: 100vw; padding-left: 0px; padding-right: 0px; background-color: #f47c30;
  color: #111111">
    <v-container>
    
    <v-row style="justify-content: center;" class="text-center subscribe-head">
      <v-col cols="3" md="1">

      <v-img
          
          src="/storage/Assets/mask1.png"
          
          contain
          
        ></v-img>
      </v-col>
     <v-col cols="6" md="8" style="letter-spacing: 0.1em !important">

      <h1 style="margin-top: 15px;">Tiki News & Events</h1>      
      </v-col>
      <v-col cols="3" md="1">

      <v-img
          
          src="/storage/Assets/mask2.png"
          
          contain
          
        ></v-img>
      </v-col>
    
    <v-col cols="12">
      Join our other 75,000+ island goers on their monthly dose of Mahiki Magic.
    </v-col>
    </v-row>
    <v-row align="start" style="margin-left: 0px !important; margin-right: 0px !important;" class="subscribe-form">
      
      <v-col cols="8" md="4">

        <v-text-field
            v-model="last_name"
            label="Last Name"            
            style="display: none;"
          ></v-text-field>

        <v-text-field
            v-model="email_name"
            label="NAME"
            outlined
            tile                   
            required 
            style="border-color: #111111 !important; color: #111111; background: transparent !important;"
          ></v-text-field>
          
      </v-col>

      <v-col cols="8" md="4">        
          <v-text-field
            v-model="email_subscriber"
            label="EMAIL ADDRESS"
            outlined
            tile
            :rules="emailRules"        
            required 
            style="border-color: #111111 !important; color: #111111 !important;"           
          ></v-text-field>
          
      </v-col>


      
      <v-col cols="6" md="4">
          <div class="text-center">
            <v-btn class="ma-2" elevation="0" tile color="#111111" style="width: 100%; color:#f47c30;" x-large @click="mailchimpSubscribe()">Submit</v-btn>        
          </div>
        </v-col>
      
    </v-row>
  </v-container>
  </v-container>
  <v-container style="margin-left: 0px; margin-right: 0px; max-width: 100vw; padding-left: 0px; padding-right: 0px;">    


    <v-row class="footer-links">
      <v-col cols="12" md="3">
        <v-btn to="/" icon block style="height: 100%; color: rgba(0,0,0,0);">
          <v-img
          
          src="/storage/Assets/mahiki-London.png"
          max-height="125"
          contain
          max-width="100vw"

          
        ></v-img>
        </v-btn>
      </v-col>



      <v-col cols="12" md="3">
      <v-row >
        <v-btn  text color="#f47c30" class="no-text-transform" to="/whats-on">
          <span style="white-space: normal;">
            WHAT’S ON
          </span>
        </v-btn>
        
      </v-row>
      <v-row>
        <v-btn class="ma-2" text color="#f47c30" to="/storage/PDFs/Rules/mahiki_rule_book.pdf" target="_blank">
            RULES
          </v-btn>
      </v-row>
      <v-row>
        <v-btn class="ma-2" text color="#f47c30" to="/contact-us">
            CONTACT
          </v-btn>
      </v-row>
      <!--
      <v-row>
        <v-btn class="ma-2" text color="#f47c30" to="/Friends-Of-Mahiki">
            FRIENDS OF MAHIKI
          </v-btn>
      </v-row> 
      -->     
      </v-col>


      <v-col cols="12" md="3">
      <v-row>
        <v-btn class="ma-2" text color="#f47c30" to="/Corporate-Hire">
            CORPORATE HIRE
          </v-btn>
      </v-row>
      <v-row>
        <v-btn class="ma-2" text color="#f47c30" href="https://www.mahiki.com/home" target="_blank">
            MAHIKI RUM
          </v-btn>
      </v-row>
      <v-row>
        <v-btn class="ma-2" text color="#f47c30" to="/Terms-&-Booking-Policy">
            PRIVACY POLICY
          </v-btn>
      </v-row>      
      </v-col>


      <v-col cols="12" md="3" class="text-center">
      <v-btn          
          v-for="(icon,i) in icons"
          :key="i"        
          icon          
          color="#f47c30"
          style="margin: 10px; text-decoration: none;"
          :href="icon.link"
          target="_blank"
        >          
          <v-icon size="34px" >{{ icon.icon }}</v-icon>
        </v-btn>
      </v-col>
      
    </v-row>

    <v-container>
    <v-row style="justify-content: center">
      <v-col cols="10" md="4" class="footer-copyright">
      &copy; Mahiki London 2019      
      </v-col>
      <v-col cols="10" md="4" class="footer-address">
          1 Dover St, Mayfair, London, W1S 4LD, UK
      </v-col>
      <v-col cols="10" md="4" class="footer-contact">
      +44(0) 2074939529 reservations@mahiki.com      
      </v-col>
    </v-row>
  </v-container>

    </v-container>
  </v-footer>

  </div>

</template>

<script>

 export default {
    data: () => ({
      dialog: false,
      

      icons: [
      {
        icon: 'fab fa-instagram',
        link: 'https://www.instagram.com/mahikilondon/'
      },
      {
        icon: 'fab fa-facebook',
        link: 'https://www.facebook.com/mahiki/'
      },
      {
        icon: 'fab fa-twitter',
        link: 'https://twitter.com/mahiki'
      },        
      ],    

      menu: [
        { title: 'Lounge/Dance', to: '/Lounge-Dance', target: 'self' },
        { title: 'Food/Cocktails', to: '/Food-&-Cocktails', target: 'self' },
        { title: "What's On", to: '/whats-on', target: 'self' },
        { title: 'Rules', to: '/storage/PDFs/Rules/mahiki_rule_book.pdf', target: '_blank' },
        { title: 'Book A Table', to: '/book-a-table', target: 'self' },
        { title: 'Private Party', to: '/Private-Parties', target: 'self' },        
        { title: 'About Us', to: '/About-Us', target: 'self' },
      ],        

             
      email_subscriber: '', 
      email_name: '',
      email_address: '',
      dialog_title: '',
      dialog_text: '',
      last_name: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      
    }),        

    watch: {
      dialog (val) {
        val || this.close()
      },
    },    



    methods: {   

      handleScroll (event) {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
           document.getElementById("header-logo-img").style.height = "100px";
           
           document.getElementById("nav-app-bar").style.top = "110px";
        } else {
          document.getElementById("header-logo-img").style.height = "125px";
          
          document.getElementById("nav-app-bar").style.top = "140px";
        }
      },       

      menuItems() {
      return this.menu;
      },


      mailchimpSubscribe () {        
        let formData = new FormData();
        formData.append('last_name', this.last_name);
        formData.append('name', this.email_name); 
        formData.append('email', this.email_subscriber);        
        axios.post('/api/mailchimp', formData)         
        this.email_subscriber = ''  
        this.dialog_title = 'Email submitted to mailing list.';
        this.dialog_text = 'Thank you for subscribing to our mailing list and keeping up to date with all the latest offers and news.';
        this.dialog = true     
      },    

      submitEmailForm () {
        
        let formData = new FormData();
        formData.append('email_name', this.email_name);
        formData.append('email_address', this.email_address);
        formData.append('business_name', this.business_name);
        formData.append('business_description', this.business_description);        
        axios.post('/api/business-email', formData)          
        this.email_name = ''
        this.email_address = ''
        this.business_name = ''
        this.business_description = ''
        this.dialog_title = 'Fancy yourself email submitted';
        this.dialog_text = 'Thank you for submitting your business. You should receive a confirmation email shortly. We aim to respond within 48 Hours.';
        this.dialog = true
      },

      
    },

    created () {
    window.addEventListener('scroll', this.handleScroll);
    },

    destroyed () {
      window.removeEventListener('scroll', this.handleScroll);
    },
  }
</script>
<style>

body, .v-card__text {
  font-family: pt-serif, serif;
  font-weight: 400;
  font-style: normal;
  Letter-spacing: 0em;
  font-size: 1em;
  background-color: #fefef5;
  max-width: 100vw;
}

h1, h3 {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  Letter-spacing: 0.3em;
  text-transform: uppercase;
}

h2, .v-card__title {
  font-family: pt-serif, serif;
  font-weight: 400;
  font-style: normal;
  Letter-spacing: 0em;
}

.v-btn:focus {
  outline: none;
}

#header-logo-img {
  height: 125px;
}

#nav-app-bar {
  max-width: 100vw;
  top: 140px;
}

.row {
  margin: 0px;
}

.v-btn {
  font-family: futura-pt, sans-serif !important;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.theme--light.v-btn--active:before {
  opacity: 0 !important;
}

.bold {
  font-weight: bold;
}

.mahiki-header, .mahiki-footer {
  background-color: #111111 !important;
  color: #f47c30 !important;
}

.mahiki-footer fieldset, .mahiki-footer .v-text-field__slot label, .mahiki-footer .theme--light.v-input:not(.v-input--is-disabled) input {
  border-color: #111111 !important;
  color: #111111 !important;
  border-radius: 0px !important;
  border-width: 2px;
}

.mahiki-header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000000;
  padding-top: 30px;
}

.v-card__text, .v-card__title {
  word-break: normal !important;
}

.subscribe-form {
  justify-content: center;
}

.footer-address{
  text-align: center;
}

.footer-contact {
  text-align: right;
}

.mahiki-header .v-toolbar__content {
  justify-content: center;
}

.mahiki-header .v-btn--icon.v-size--default .v-icon {
  font-size: 40px;
}

.background .theme--light.v-list {
  background-color: #111111 !important;
  text-align: center;
  border-radius: 0px;
}

.background .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: #f47c30 !important;
}

.v-window__next, .v-window__prev, .v-window__next:hover, .v-window__prev:hover {
  background: transparent;
}

.v-btn:not(.v-btn--text):not(.v-btn--outlined):hover:before {
  opacity: 0;
}

.dark-button .v-btn:hover {
  color: #111111 !important;
  background-color: #f47c30 !important;
}

.light-button .v-btn:hover {
  color: #fefef5 !important;
  background-color: #111111 !important;
}

.light-orange-button .v-btn:hover {
  color: #fefef5 !important;
  background-color: #f47c30 !important;
}

@media all and (max-width: 1024px) {  

} 

@media all and (max-width: 839px) { 
  
} 

@media all and (max-width: 480px) {  

  h1 {
    font-size: 28px;
  }

   p { 
      width: 50px;
      padding: 0 20px; 
      margin: 0;
      word-break: keep-all;
      text-align: center;
      }

  .row{
    margin-left: 0px;
    margin-right: 0px;
  }

  .logo-bar .v-btn.v-size--default, .logo-bar .v-btn.v-size--large {
    font-size: 12px !important;
  }

  .logo-bar {
    padding: 12px 0px;
  }

  .mahiki-header .v-btn {
    letter-spacing: 0.2em !important;
  }

  .table-button, .party-button {
    max-width: 35%;
  }

  .logo-image {
    max-width: 30%;
  }

  .subscribe-form .col-8 {
    padding: 0px;
  }   

  .subscribe-form .v-text-field__details {
    display: none;
  }

  .subscribe-head .col-3, .subscribe-head .col-6 {
    padding: 0px;
  }

  .footer-links .row {
    justify-content: center;
  }

  .footer-contact, .footer-address, .footer-copyright {
    text-align: center;
    padding: 0px;
  }

  .background .v-list {
    min-height: 620px;
  }

  #header-menu.v-menu__content {
    top: 160px !important;
  }

}

@media only screen and (max-width: 1366px) and (orientation: landscape) {  
  
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {  
  
}

@media only screen and (max-width: 839px) and (orientation: landscape) {

  
}




</style>
