<template>
    <video style="width: 100%;" autoplay loop controls>
    <source src="/storage/files/1/Videos/MAHIKI_MONDAYS.mp4" type="video/mp4">
    </video>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>