<template>

    <video style="width: 100%;" :preload="preload" :autoplay="autoplay" :loop="loop" :controls="controls" playsinline>
    <source :src="src" type="video/mp4">
    </video>
</template>

<script>
    export default {
    data: () => ({           
      src: '',  
      autoplay: false, 
      loop: false,
      controls: false, 
      preload: 'auto',   
    }),
    }
</script>
<style>



</style>